/*---------------------------------------------
    Button Component
---------------------------------------------*/
.btn
{
    .inline();
    .rounded(2px);
    .font-size(1.2);
    .transition(.3s);
    .text-overflow();
    border: none;
    cursor: pointer;
    line-height: 35px;
    padding: 0px 12px;
    overflow: visible;
    text-align: center;
    margin-bottom: 0px;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    touch-action: manipulation;
    font-family: 'Yekan', 'Number';

    // Icon Inside Button
    //---------------------------------------------
    & > *[class*="icon-"]
    {
        .float(right);
        .transition(.3s);
        line-height: 2rem;
        vertical-align: -1px;
        padding: 7.5px 10px 7.5px;
        margin: 0px -10px 0px 10px;
    }

    // Perfect Width
    //---------------------------------------------
    &.perfect
    {
        width: 100%;
    }

    // Action Button
    //---------------------------------------------
    &.action
    {
        .button(rgb(255, 255, 255), rgb(150, 150, 150));
    }

    // Save Button
    //---------------------------------------------
    &.save
    {
        .button(rgb(255, 255, 255), rgb(136, 194, 50));
    }

    // Update Button
    //---------------------------------------------
    &.update
    {
        .button(rgb(255, 255, 255), rgb(239, 142, 14));
    }

    // Edit Button
    //---------------------------------------------
    &.edit
    {
        .button(rgb(255, 255, 255), rgb(41, 120, 224));
    }

    // Delete Button
    //---------------------------------------------
    &.delete
    {
        .button(rgb(255, 255, 255), rgb(226, 41, 84));
    }
}

