/*---------------------------------------------
    Form Component
---------------------------------------------*/
form
{
    padding: 10px 0px;

    // Label
    //---------------------------------------------
    label
    {
        .float(right);
        .font-size(1);
        .size(auto, 100%);
        position: relative;
        margin-bottom: 5px;
        font-family: 'Yekan', 'Number';
        letter-spacing: -0.25px;

        // Label Span
        //---------------------------------------------
        & > span
        {
            .float(right);
            .font-size(1.2);
            .size(40px, 85px);
            line-height: 40px;
            position: relative;
            font-family: 'Yekan', 'Number';
            letter-spacing: -0.25px;
            margin: 0px 0px 0px 10px;
        }

        // Input
        //---------------------------------------------
        & > input
        {
            .rounded(2px);
            .font-size(1.2);
            .no-tap-style();
            .transition(.3s);
            .text-overflow();
            .size(40px, 225px);
            .box-sizing(border-box);
            .placeholder(lighten(@InputColor, 25%), 1.2);
            resize: none;
            cursor: text;
            padding: 10px;
            line-height: 40px;
            margin-bottom: 10px;
            color: @InputColor;
            background: @InputBackground;
            border: 1px solid @InputBorderColor;
            -webkit-user-select: text !important;
            -khtml-user-select: text !important;
            -moz-user-select: text !important;
            -ms-user-select: text !important;
            -o-user-select: text !important;
            user-select: text !important;

            // On Hover Effect
            //---------------------------------------------
            &:focus,
            &:active
            {
                background: lighten(@InputBackground, 15%) !important;
                border: 1px solid darken(@InputBorderColor, 10%) !important;
            }

            // Disabled Input
            //---------------------------------------------
            &:disabled
            {
                cursor: not-allowed;
                background: @InputDisabledBackground;
                border: 1px solid darken(@InputDisabledBackground, 5%);
            }

            // Email Type
            //---------------------------------------------
            &[type="email"]
            {
                direction: ltr;
            }

            // Radio Button
            //---------------------------------------------
            &[type="radio"]
            {
                .square(15px);
                cursor: pointer;
                margin: 10px 0px 10px 10px;
            }

            // Checkbox
            //---------------------------------------------
            &[type="checkbox"]
            {
                .size(auto, auto) !important;
                cursor: pointer;
                margin-top: 15px;
            }

            // Number Type
            //---------------------------------------------
            &[type=number]::-webkit-inner-spin-button,
            &[type=number]::-webkit-outer-spin-button
            {
                margin: 0;
                -webkit-appearance: none;
            }
        }

        // TextArea
        //---------------------------------------------
        textarea
        {
            .rounded(2px);
            .font-size(1.2);
            .no-tap-style();
            .transition(.3s);
            .text-overflow();
            .size(40px, 225px);
            .box-sizing(border-box);
            .placeholder(lighten(@InputColor, 25%), 1.2);
            resize: none;
            cursor: text;
            padding: 10px;
            margin-bottom: 10px;
            color: @InputColor;
            background: @InputBackground;
            border: 1px solid @InputBorderColor;
            -webkit-user-select: text !important;
            -khtml-user-select: text !important;
            -moz-user-select: text !important;
            -ms-user-select: text !important;
            -o-user-select: text !important;
            user-select: text !important;

            // On Hover Effect
            //---------------------------------------------
            &:focus,
            &:active
            {
                background: lighten(@InputBackground, 15%) !important;
                border: 1px solid darken(@InputBorderColor, 10%) !important;
            }

            // Disabled Input
            //---------------------------------------------
            &:disabled
            {
                cursor: not-allowed;
                background: @InputDisabledBackground;
                border: 1px solid darken(@InputDisabledBackground, 5%);
            }
        }

        // Select
        //---------------------------------------------
        .select
        {
            .rounded(2px);
            .size(35px, 225px);
            .text-overflow(hidden);
            padding: 0px;
            min-width: 100px;
            position: relative;
            margin: 0px 0px 10px 0px;
            border: 1px solid rgb(219, 219, 219);
            background-color: rgb(255, 255, 255);

            // Select Option
            //---------------------------------------------
            & > select
            {
                .square(100%);
                .opacity(0.95);
                .font-size(1.2);
                .no-tap-style();
                .text-overflow();
                .box-shadow(none);
                .remove-appearance();
                border: none;
                padding: 0px 7px;
                letter-spacing: -0.25px;
                color: rgb(117, 117, 117);
                background-color: transparent;
                font-family: 'Yekan', 'Number';

                // IE Hack
                //---------------------------------------------
                &::-ms-expand
                {
                    display: none;
                }

                // Firefox Hack
                //---------------------------------------------
                &:-moz-focusring
                {
                    color: transparent;
                }

                // Remove Any Border
                //---------------------------------------------
                & > option
                {
                    border: 0;
                    font-family: 'Yekan', 'Number', Helvetica;
                }
            }

            // Remove Prefix
            //---------------------------------------------
            @-moz-document url-prefix()
            {
                // Refactor Select Box
                //---------------------------------------------
                select
                {
                    background-image: none;
                    -moz-appearance: none;
                    text-indent: 0.01px;
                    text-overflow: "";
                }
            }

            // Icon
            //---------------------------------------------
            & > i[class*="icon-"]
            {
                .absolute(9px, auto, auto, 5px);
            }
        }
    }
}