/*---------------------------------------------
    Responsive Component
---------------------------------------------*/

// Define Mobile Breakpoint
//---------------------------------------------
@media (min-width: @BreakpointMobile) and (max-width: @BreakpointTablet)
{

    // Layout Header
    //---------------------------------------------
    main > header
    {
        .size(90px, 100%) !important;

        // Header Area
        //---------------------------------------------
        & > .header
        {
            .size(45px, 100%) !important;
            padding: 0px 0px !important;

            // Logo Holder
            //---------------------------------------------
            a.logo
            {
                .size(45px, 100%) !important;
                margin: 0px 0px !important;
                padding: 7.5px 0px !important;
                text-align: center !important;

                // Image
                //---------------------------------------------
                & > img
                {
                    .clear() !important;
                    .inline() !important;
                    .size(30px, auto) !important;
                    margin-left: 5px !important;
                }

                // Slogan
                //---------------------------------------------
                & > p
                {
                    .clear() !important;
                    .inline() !important;
                    .size(30px, auto) !important;
                    margin: 0px 0px !important;
                    line-height: 30px !important;
                    vertical-align: top !important;
                }
            }
        }
    }

    // Main
    //---------------------------------------------
    main.content
    {

        // Promotion Slider
        //---------------------------------------------
        article.slides.promotion
        {

            // Header
            //---------------------------------------------
            header
            {
                .size(100%, 200px) !important;
                .absolute(0px, auto, 0px, 10%) !important;
                padding: 10px 10px !important;

                // Title
                //---------------------------------------------
                & > h1
                {
                    .font-size(2) !important;
                    margin: 0px 5% 10px 5% !important;
                }

                // Subtitle
                //---------------------------------------------
                & > h2
                {
                    .font-size(1.5) !important;
                    .size(auto, 90%) !important;
                    margin: 0px 5% 0px 5% !important;
                }

                // Description
                //---------------------------------------------
                & > p
                {
                    .font-size(1.3) !important;
                    margin-bottom: 10px !important;
                }

                // Datetime
                //---------------------------------------------
                & > time
                {
                    .font-size(1.5) !important;
                    margin: 0px 0px 0px 5% !important;
                }

                // Button
                //---------------------------------------------
                & > button
                {
                    .float(left);
                    margin-left: 10%;
                }
            }
        }

        // Conductor
        //---------------------------------------------
        ul.conductor
        {

            // List Item
            //---------------------------------------------
            & > li
            {
                .float(left);
                .size(auto, 100%) !important;

                // Caption
                //---------------------------------------------
                & > h2
                {
                    max-width: 40% !important;
                }
            }
        }
    }
}

// Define Tablet Breakpoint
//---------------------------------------------
@media (min-width: @BreakpointTablet) and (max-width: @BreakpointDesktop)
{

}

// Define Desktop Breakpoint
//---------------------------------------------
@media (min-width: @BreakpointDesktop) and (max-width: @BreakpointDesktopHD)
{

}

// Define Desktop HD Breakpoint
//---------------------------------------------
@media (min-width: @BreakpointDesktopHD)
{

}