/*---------------------------------------------
    Table Component
---------------------------------------------*/
table.table
{
    width: 100%;

    // Header and Body
    //---------------------------------------------
    & > thead,
    & > tbody
    {
        width: 100%;

        // General Cell
        //---------------------------------------------
        th,
        td
        {
            text-align: center;
        }

        // Header Cell
        //---------------------------------------------
        th
        {
            .font-size(1.25);
            letter-spacing: -0.25px;
            font-family: 'Yekan', 'Number';
        }

        // Body Cell
        //---------------------------------------------
        td
        {
            .font-size(1.45);
            font-family: 'IranSans';
            letter-spacing: -0.25px;
        }
    }
}