// Define Path Variables
//---------------------------------------------
@FontsDirectory:                 "/Static/Fonts";
@ImagesDirectory:                "/Static/Images";

// Define Typography Variables
//---------------------------------------------
@BaseFontSizeAdjust:             100%;
@BaseFontWeight:                 normal;
@BaseFontSize:                   10px;
@BaseLineHeight:                 1.6;

// Define Grid Variables
//---------------------------------------------
@GridGutterWidth:                20px;
@GridColumns:                    12;

// Define Grid Container
//---------------------------------------------
@ContainerMobile:                100%;
@ContainerTablet:                100%;
@ContainerDesktop:               100%;
@ContainerDesktopHD:             96%;

// Define Grid Breakpoint
//---------------------------------------------
@BreakpointMobile:               ((300px  + @GridGutterWidth));
@BreakpointTablet:               ((720px  + @GridGutterWidth));
@BreakpointDesktop:              ((940px  + @GridGutterWidth));
@BreakpointDesktopHD:            ((1180px + @GridGutterWidth));