// Define Base Variables
//---------------------------------------------
@BaseColor:                      rgb(75, 75, 75);
@BaseBackground:                 rgb(255, 255, 255);

// Define Browser Variables
//---------------------------------------------
@SelectionColor:                 rgb(255, 255, 255);
@SelectionBackground:            rgb(100, 100, 100);

// Define Header Variables
//---------------------------------------------
@HeaderColor:                    rgb(255, 255, 255);
@HeaderBackground:               rgb(58, 78, 97);

// Define Footer Variables
//---------------------------------------------
@FooterColor:                    rgb(240, 240, 240);
@FooterBackground:               rgb(90, 90, 90);

// Define Form Variables
//---------------------------------------------
@InputColor:                     rgb(58, 58, 58);
@InputBorderColor:               rgb(220, 220, 220);
@InputBackground:                rgb(252, 252, 252);
@InputDisabledBackground:        rgb(228, 228, 228);

// Define Table Variables
//---------------------------------------------
@TableHeaderColor:               rgb(105, 105, 105);
@TableHeaderBackground:          rgb(235, 235, 235);
@TableBodyColor:                 rgb(125, 125, 125);
@TableBodyBackground:            rgb(255, 255, 255);
@TableBadgeBackground:           rgb(240, 240, 240);
@TableActiveBackground:          rgb(242, 238, 222);

// Define Home Variables
//---------------------------------------------
@HomeSidebarColor:               rgb(95, 95, 95);
@HomeSidebarBackground:          rgb(240, 240, 240);
@HomeSidebarActiveColor:         rgb(65, 150, 80);
@HomeSidebarActiveBackground:    rgb(255, 255, 255);
@HomeSidebarExtraColor:          rgb(255, 255, 255);
@HomeSidebarExtraActiveColor:    rgb(176, 228, 87);
@HomeSidebarExtraBackground:     rgb(90, 90, 90);
@HomeSidebarHeaderColor:         rgb(255, 255, 255);
@HomeSidebarHeaderBackground:    rgb(107, 157, 46);

@HomeBreadcrumbColor:            rgb(150, 150, 150);
@HomeBreadcrumbBackground:       rgb(250, 250, 250);

@HomeActionBackground:           rgb(245, 245, 245);