/*---------------------------------------------
    Icon Font
---------------------------------------------*/
.font-face('icomoon', 'icon', normal, normal, "@{FontsDirectory}/Icomoon");

// Define Icon Class
//---------------------------------------------
[class^="icon-"]:before,
[class*=" icon-"]:before
{
    .icon();
    .font-size(1.6);
}

// Define Icons
//---------------------------------------------
.icon-error:before {
    content: "\e000";
}
.icon-error_outline:before {
    content: "\e001";
}
.icon-warning:before {
    content: "\e002";
}
.icon-add_alert:before {
    content: "\e003";
}
.icon-album:before {
    content: "\e004";
}
.icon-av_timer:before {
    content: "\e005";
}
.icon-closed_caption:before {
    content: "\e006";
}
.icon-equalizer:before {
    content: "\e007";
}
.icon-explicit:before {
    content: "\e008";
}
.icon-fast_forward:before {
    content: "\e009";
}
.icon-fast_rewind:before {
    content: "\e00a";
}
.icon-games:before {
    content: "\e00b";
}
.icon-hearing:before {
    content: "\e00c";
}
.icon-high_quality:before {
    content: "\e00d";
}
.icon-loop:before {
    content: "\e00e";
}
.icon-mic:before {
    content: "\e00f";
}
.icon-mic_none:before {
    content: "\e010";
}
.icon-mic_off:before {
    content: "\e011";
}
.icon-movie:before {
    content: "\e012";
}
.icon-library_add:before {
    content: "\e013";
}
.icon-library_books:before {
    content: "\e014";
}
.icon-library_music:before {
    content: "\e015";
}
.icon-new_releases:before {
    content: "\e016";
}
.icon-not_interested:before {
    content: "\e017";
}
.icon-pause:before {
    content: "\e018";
}
.icon-pause_circle_filled:before {
    content: "\e019";
}
.icon-pause_circle_outline:before {
    content: "\e01a";
}
.icon-play_arrow:before {
    content: "\e01b";
}
.icon-play_circle_filled:before {
    content: "\e01c";
}
.icon-play_circle_outline:before {
    content: "\e01d";
}
.icon-playlist_add:before {
    content: "\e01e";
}
.icon-queue:before {
    content: "\e01f";
}
.icon-queue_music:before {
    content: "\e020";
}
.icon-radio:before {
    content: "\e021";
}
.icon-recent_actors:before {
    content: "\e022";
}
.icon-repeat:before {
    content: "\e023";
}
.icon-repeat_one:before {
    content: "\e024";
}
.icon-replay:before {
    content: "\e025";
}
.icon-shuffle:before {
    content: "\e026";
}
.icon-skip_next:before {
    content: "\e027";
}
.icon-skip_previous:before {
    content: "\e028";
}
.icon-snooze:before {
    content: "\e029";
}
.icon-stop:before {
    content: "\e02a";
}
.icon-subtitles:before {
    content: "\e02b";
}
.icon-surround_sound:before {
    content: "\e02c";
}
.icon-video_collection:before {
    content: "\e02d";
}
.icon-videocam:before {
    content: "\e02e";
}
.icon-videocam_off:before {
    content: "\e02f";
}
.icon-volume_down:before {
    content: "\e030";
}
.icon-volume_mute:before {
    content: "\e031";
}
.icon-volume_off:before {
    content: "\e032";
}
.icon-volume_up:before {
    content: "\e033";
}
.icon-web:before {
    content: "\e034";
}
.icon-hd:before {
    content: "\e035";
}
.icon-sort_by_alpha:before {
    content: "\e036";
}
.icon-airplay:before {
    content: "\e037";
}
.icon-forward_10:before {
    content: "\e038";
}
.icon-forward_30:before {
    content: "\e039";
}
.icon-forward_5:before {
    content: "\e03a";
}
.icon-replay_10:before {
    content: "\e03b";
}
.icon-replay_30:before {
    content: "\e03c";
}
.icon-replay_5:before {
    content: "\e03d";
}
.icon-business:before {
    content: "\e03e";
}
.icon-call:before {
    content: "\e03f";
}
.icon-call_end:before {
    content: "\e040";
}
.icon-call_made:before {
    content: "\e041";
}
.icon-call_merge:before {
    content: "\e042";
}
.icon-call_missed:before {
    content: "\e043";
}
.icon-call_received:before {
    content: "\e044";
}
.icon-call_split:before {
    content: "\e045";
}
.icon-chat:before {
    content: "\e046";
}
.icon-clear_all:before {
    content: "\e047";
}
.icon-comment:before {
    content: "\e048";
}
.icon-contacts:before {
    content: "\e049";
}
.icon-dialer_sip:before {
    content: "\e04a";
}
.icon-dialpad:before {
    content: "\e04b";
}
.icon-email:before {
    content: "\e04c";
}
.icon-forum:before {
    content: "\e04d";
}
.icon-import_export:before {
    content: "\e04e";
}
.icon-invert_colors_off:before {
    content: "\e04f";
}
.icon-live_help:before {
    content: "\e050";
}
.icon-location_off:before {
    content: "\e051";
}
.icon-location_on:before {
    content: "\e052";
}
.icon-message:before {
    content: "\e053";
}
.icon-chat_bubble:before {
    content: "\e054";
}
.icon-chat_bubble_outline:before {
    content: "\e055";
}
.icon-no_sim:before {
    content: "\e056";
}
.icon-phone:before {
    content: "\e057";
}
.icon-portable_wifi_off:before {
    content: "\e058";
}
.icon-contact_phone:before {
    content: "\e059";
}
.icon-ring_volume:before {
    content: "\e05a";
}
.icon-speaker_phone:before {
    content: "\e05b";
}
.icon-stay_current_landscape:before {
    content: "\e05c";
}
.icon-stay_current_portrait:before {
    content: "\e05d";
}
.icon-stay_primary_landscape:before {
    content: "\e05e";
}
.icon-stay_primary_portrait:before {
    content: "\e05f";
}
.icon-swap_calls:before {
    content: "\e060";
}
.icon-textsms:before {
    content: "\e061";
}
.icon-voicemail2:before {
    content: "\e062";
}
.icon-vpn_key:before {
    content: "\e063";
}
.icon-phonelink_erase:before {
    content: "\e064";
}
.icon-phonelink_lock:before {
    content: "\e065";
}
.icon-phonelink_ring:before {
    content: "\e066";
}
.icon-phonelink_setup:before {
    content: "\e067";
}
.icon-present_to_all:before {
    content: "\e068";
}
.icon-add:before {
    content: "\e069";
}
.icon-add_box:before {
    content: "\e06a";
}
.icon-add_circle:before {
    content: "\e06b";
}
.icon-add_circle_outline:before {
    content: "\e06c";
}
.icon-archive:before {
    content: "\e06d";
}
.icon-backspace:before {
    content: "\e06e";
}
.icon-block:before {
    content: "\e06f";
}
.icon-clear:before {
    content: "\e070";
}
.icon-content_copy:before {
    content: "\e071";
}
.icon-content_cut:before {
    content: "\e072";
}
.icon-content_paste:before {
    content: "\e073";
}
.icon-create:before {
    content: "\e074";
}
.icon-drafts:before {
    content: "\e075";
}
.icon-filter_list:before {
    content: "\e076";
}
.icon-flag:before {
    content: "\e077";
}
.icon-forward:before {
    content: "\e078";
}
.icon-gesture:before {
    content: "\e079";
}
.icon-inbox:before {
    content: "\e07a";
}
.icon-link:before {
    content: "\e07b";
}
.icon-mail:before {
    content: "\e07c";
}
.icon-markunread:before {
    content: "\e07d";
}
.icon-redo:before {
    content: "\e07e";
}
.icon-remove:before {
    content: "\e07f";
}
.icon-remove_circle:before {
    content: "\e080";
}
.icon-remove_circle_outline:before {
    content: "\e081";
}
.icon-reply:before {
    content: "\e082";
}
.icon-reply_all:before {
    content: "\e083";
}
.icon-report:before {
    content: "\e084";
}
.icon-save:before {
    content: "\e085";
}
.icon-select_all:before {
    content: "\e086";
}
.icon-send:before {
    content: "\e087";
}
.icon-sort:before {
    content: "\e088";
}
.icon-text_format:before {
    content: "\e089";
}
.icon-undo:before {
    content: "\e08a";
}
.icon-font_download:before {
    content: "\e08b";
}
.icon-access_alarm:before {
    content: "\e08c";
}
.icon-access_alarms:before {
    content: "\e08d";
}
.icon-access_time:before {
    content: "\e08e";
}
.icon-add_alarm:before {
    content: "\e08f";
}
.icon-airplanemode_inactive:before {
    content: "\e090";
}
.icon-airplanemode_active:before {
    content: "\e091";
}
.icon-battery_alert:before {
    content: "\e092";
}
.icon-battery_charging_full:before {
    content: "\e093";
}
.icon-battery_full:before {
    content: "\e094";
}
.icon-battery_std:before {
    content: "\e095";
}
.icon-battery_unknown:before {
    content: "\e096";
}
.icon-bluetooth:before {
    content: "\e097";
}
.icon-bluetooth_connected:before {
    content: "\e098";
}
.icon-bluetooth_disabled:before {
    content: "\e099";
}
.icon-bluetooth_searching:before {
    content: "\e09a";
}
.icon-brightness_auto:before {
    content: "\e09b";
}
.icon-brightness_high:before {
    content: "\e09c";
}
.icon-brightness_low:before {
    content: "\e09d";
}
.icon-brightness_medium:before {
    content: "\e09e";
}
.icon-data_usage:before {
    content: "\e09f";
}
.icon-developer_mode:before {
    content: "\e0a0";
}
.icon-devices:before {
    content: "\e0a1";
}
.icon-dvr:before {
    content: "\e0a2";
}
.icon-gps_fixed:before {
    content: "\e0a3";
}
.icon-gps_not_fixed:before {
    content: "\e0a4";
}
.icon-gps_off:before {
    content: "\e0a5";
}
.icon-location_disabled:before {
    content: "\e0a6";
}
.icon-location_searching:before {
    content: "\e0a7";
}
.icon-graphic_eq:before {
    content: "\e0a8";
}
.icon-network_cell:before {
    content: "\e0a9";
}
.icon-network_wifi:before {
    content: "\e0aa";
}
.icon-nfc:before {
    content: "\e0ab";
}
.icon-now_wallpaper:before {
    content: "\e0ac";
}
.icon-now_widgets:before {
    content: "\e0ad";
}
.icon-screen_lock_landscape:before {
    content: "\e0ae";
}
.icon-screen_lock_portrait:before {
    content: "\e0af";
}
.icon-screen_lock_rotation:before {
    content: "\e0b0";
}
.icon-screen_rotation:before {
    content: "\e0b1";
}
.icon-sd_storage:before {
    content: "\e0b2";
}
.icon-settings_system_daydream:before {
    content: "\e0b3";
}
.icon-signal_cellular_4_bar:before {
    content: "\e0b4";
}
.icon-signal_cellular_connected_no_internet_4_bar:before {
    content: "\e0b5";
}
.icon-signal_cellular_no_sim:before {
    content: "\e0b6";
}
.icon-signal_cellular_null:before {
    content: "\e0b7";
}
.icon-signal_cellular_off:before {
    content: "\e0b8";
}
.icon-signal_wifi_4_bar:before {
    content: "\e0b9";
}
.icon-signal_wifi_4_bar_lock:before {
    content: "\e0ba";
}
.icon-signal_wifi_off:before {
    content: "\e0bb";
}
.icon-storage:before {
    content: "\e0bc";
}
.icon-usb:before {
    content: "\e0bd";
}
.icon-wifi_lock:before {
    content: "\e0be";
}
.icon-wifi_tethering:before {
    content: "\e0bf";
}
.icon-attach_file:before {
    content: "\e0c0";
}
.icon-attach_money:before {
    content: "\e0c1";
}
.icon-border_all:before {
    content: "\e0c2";
}
.icon-border_bottom:before {
    content: "\e0c3";
}
.icon-border_clear:before {
    content: "\e0c4";
}
.icon-border_color:before {
    content: "\e0c5";
}
.icon-border_horizontal:before {
    content: "\e0c6";
}
.icon-border_inner:before {
    content: "\e0c7";
}
.icon-border_left:before {
    content: "\e0c8";
}
.icon-border_outer:before {
    content: "\e0c9";
}
.icon-border_right:before {
    content: "\e0ca";
}
.icon-border_style:before {
    content: "\e0cb";
}
.icon-border_top:before {
    content: "\e0cc";
}
.icon-border_vertical:before {
    content: "\e0cd";
}
.icon-format_align_center:before {
    content: "\e0ce";
}
.icon-format_align_justify:before {
    content: "\e0cf";
}
.icon-format_align_left:before {
    content: "\e0d0";
}
.icon-format_align_right:before {
    content: "\e0d1";
}
.icon-format_bold:before {
    content: "\e0d2";
}
.icon-format_clear:before {
    content: "\e0d3";
}
.icon-format_color_fill:before {
    content: "\e0d4";
}
.icon-format_color_reset:before {
    content: "\e0d5";
}
.icon-format_color_text:before {
    content: "\e0d6";
}
.icon-format_indent_decrease:before {
    content: "\e0d7";
}
.icon-format_indent_increase:before {
    content: "\e0d8";
}
.icon-format_italic:before {
    content: "\e0d9";
}
.icon-format_line_spacing:before {
    content: "\e0da";
}
.icon-format_list_bulleted:before {
    content: "\e0db";
}
.icon-format_list_numbered:before {
    content: "\e0dc";
}
.icon-format_paint:before {
    content: "\e0dd";
}
.icon-format_quote:before {
    content: "\e0de";
}
.icon-format_size:before {
    content: "\e0df";
}
.icon-format_strikethrough:before {
    content: "\e0e0";
}
.icon-format_textdirection_l_to_r:before {
    content: "\e0e1";
}
.icon-format_textdirection_r_to_l:before {
    content: "\e0e2";
}
.icon-format_underlined:before {
    content: "\e0e3";
}
.icon-functions:before {
    content: "\e0e4";
}
.icon-insert_chart:before {
    content: "\e0e5";
}
.icon-insert_comment:before {
    content: "\e0e6";
}
.icon-insert_drive_file:before {
    content: "\e0e7";
}
.icon-insert_emoticon:before {
    content: "\e0e8";
}
.icon-insert_invitation:before {
    content: "\e0e9";
}
.icon-insert_link:before {
    content: "\e0ea";
}
.icon-insert_photo:before {
    content: "\e0eb";
}
.icon-merge_type:before {
    content: "\e0ec";
}
.icon-mode_comment:before {
    content: "\e0ed";
}
.icon-mode_edit:before {
    content: "\e0ee";
}
.icon-publish2:before {
    content: "\e0ef";
}
.icon-space_bar:before {
    content: "\e0f0";
}
.icon-strikethrough_s:before {
    content: "\e0f1";
}
.icon-vertical_align_bottom:before {
    content: "\e0f2";
}
.icon-vertical_align_center:before {
    content: "\e0f3";
}
.icon-vertical_align_top:before {
    content: "\e0f4";
}
.icon-wrap_text:before {
    content: "\e0f5";
}
.icon-money_off:before {
    content: "\e0f6";
}
.icon-attachment:before {
    content: "\e0f7";
}
.icon-cloud:before {
    content: "\e0f8";
}
.icon-cloud_circle:before {
    content: "\e0f9";
}
.icon-cloud_done:before {
    content: "\e0fa";
}
.icon-cloud_download:before {
    content: "\e0fb";
}
.icon-cloud_off:before {
    content: "\e0fc";
}
.icon-cloud_queue:before {
    content: "\e0fd";
}
.icon-cloud_upload:before {
    content: "\e0fe";
}
.icon-file_download:before {
    content: "\e0ff";
}
.icon-file_upload:before {
    content: "\e100";
}
.icon-folder:before {
    content: "\e101";
}
.icon-folder_open:before {
    content: "\e102";
}
.icon-folder_shared:before {
    content: "\e103";
}
.icon-cast:before {
    content: "\e104";
}
.icon-cast_connected:before {
    content: "\e105";
}
.icon-computer:before {
    content: "\e106";
}
.icon-desktop_mac:before {
    content: "\e107";
}
.icon-desktop_windows:before {
    content: "\e108";
}
.icon-developer_board:before {
    content: "\e109";
}
.icon-dock:before {
    content: "\e10a";
}
.icon-gamepad:before {
    content: "\e10b";
}
.icon-headset:before {
    content: "\e10c";
}
.icon-headset_mic:before {
    content: "\e10d";
}
.icon-keyboard:before {
    content: "\e10e";
}
.icon-keyboard_arrow_down:before {
    content: "\e10f";
}
.icon-keyboard_arrow_left:before {
    content: "\e110";
}
.icon-keyboard_arrow_right:before {
    content: "\e111";
}
.icon-keyboard_arrow_up:before {
    content: "\e112";
}
.icon-keyboard_backspace:before {
    content: "\e113";
}
.icon-keyboard_capslock:before {
    content: "\e114";
}
.icon-keyboard_hide:before {
    content: "\e115";
}
.icon-keyboard_return:before {
    content: "\e116";
}
.icon-keyboard_tab:before {
    content: "\e117";
}
.icon-keyboard_voice:before {
    content: "\e118";
}
.icon-laptop:before {
    content: "\e119";
}
.icon-laptop_chromebook:before {
    content: "\e11a";
}
.icon-laptop_mac:before {
    content: "\e11b";
}
.icon-laptop_windows:before {
    content: "\e11c";
}
.icon-memory:before {
    content: "\e11d";
}
.icon-mouse:before {
    content: "\e11e";
}
.icon-phone_android:before {
    content: "\e11f";
}
.icon-phone_iphone:before {
    content: "\e120";
}
.icon-phonelink:before {
    content: "\e121";
}
.icon-phonelink_off:before {
    content: "\e122";
}
.icon-router:before {
    content: "\e123";
}
.icon-scanner:before {
    content: "\e124";
}
.icon-security:before {
    content: "\e125";
}
.icon-sim_card:before {
    content: "\e126";
}
.icon-smartphone:before {
    content: "\e127";
}
.icon-speaker:before {
    content: "\e128";
}
.icon-speaker_group:before {
    content: "\e129";
}
.icon-tablet:before {
    content: "\e12a";
}
.icon-tablet_android:before {
    content: "\e12b";
}
.icon-tablet_mac:before {
    content: "\e12c";
}
.icon-toys:before {
    content: "\e12d";
}
.icon-tv:before {
    content: "\e12e";
}
.icon-watch:before {
    content: "\e12f";
}
.icon-device_hub:before {
    content: "\e130";
}
.icon-power_input:before {
    content: "\e131";
}
.icon-add_to_photos:before {
    content: "\e132";
}
.icon-adjust:before {
    content: "\e133";
}
.icon-assistant:before {
    content: "\e134";
}
.icon-assistant_photo:before {
    content: "\e135";
}
.icon-audiotrack:before {
    content: "\e136";
}
.icon-blur_circular:before {
    content: "\e137";
}
.icon-blur_linear:before {
    content: "\e138";
}
.icon-blur_off:before {
    content: "\e139";
}
.icon-blur_on:before {
    content: "\e13a";
}
.icon-brightness_1:before {
    content: "\e13b";
}
.icon-brightness_2:before {
    content: "\e13c";
}
.icon-brightness_3:before {
    content: "\e13d";
}
.icon-brightness_4:before {
    content: "\e13e";
}
.icon-brightness_5:before {
    content: "\e13f";
}
.icon-brightness_6:before {
    content: "\e140";
}
.icon-brightness_7:before {
    content: "\e141";
}
.icon-broken_image:before {
    content: "\e142";
}
.icon-brush:before {
    content: "\e143";
}
.icon-camera:before {
    content: "\e144";
}
.icon-camera_alt:before {
    content: "\e145";
}
.icon-camera_front:before {
    content: "\e146";
}
.icon-camera_rear:before {
    content: "\e147";
}
.icon-camera_roll:before {
    content: "\e148";
}
.icon-center_focus_strong:before {
    content: "\e149";
}
.icon-center_focus_weak:before {
    content: "\e14a";
}
.icon-collections:before {
    content: "\e14b";
}
.icon-color_lens:before {
    content: "\e14c";
}
.icon-colorize:before {
    content: "\e14d";
}
.icon-compare:before {
    content: "\e14e";
}
.icon-control_point:before {
    content: "\e14f";
}
.icon-control_point_duplicate:before {
    content: "\e150";
}
.icon-crop_16_9:before {
    content: "\e151";
}
.icon-crop_3_2:before {
    content: "\e152";
}
.icon-crop:before {
    content: "\e153";
}
.icon-crop_5_4:before {
    content: "\e154";
}
.icon-crop_7_5:before {
    content: "\e155";
}
.icon-crop_din:before {
    content: "\e156";
}
.icon-crop_free:before {
    content: "\e157";
}
.icon-crop_landscape:before {
    content: "\e158";
}
.icon-crop_original:before {
    content: "\e159";
}
.icon-crop_portrait:before {
    content: "\e15a";
}
.icon-crop_square:before {
    content: "\e15b";
}
.icon-dehaze:before {
    content: "\e15c";
}
.icon-details:before {
    content: "\e15d";
}
.icon-edit:before {
    content: "\e15e";
}
.icon-exposure:before {
    content: "\e15f";
}
.icon-exposure_minus_1:before {
    content: "\e160";
}
.icon-exposure_minus_2:before {
    content: "\e161";
}
.icon-exposure_plus_1:before {
    content: "\e162";
}
.icon-exposure_plus_2:before {
    content: "\e163";
}
.icon-exposure_zero:before {
    content: "\e164";
}
.icon-filter_1:before {
    content: "\e165";
}
.icon-filter_2:before {
    content: "\e166";
}
.icon-filter_3:before {
    content: "\e167";
}
.icon-filter:before {
    content: "\e168";
}
.icon-filter_4:before {
    content: "\e169";
}
.icon-filter_5:before {
    content: "\e16a";
}
.icon-filter_6:before {
    content: "\e16b";
}
.icon-filter_7:before {
    content: "\e16c";
}
.icon-filter_8:before {
    content: "\e16d";
}
.icon-filter_9:before {
    content: "\e16e";
}
.icon-filter_9_plus:before {
    content: "\e16f";
}
.icon-filter_b_and_w:before {
    content: "\e170";
}
.icon-filter_center_focus:before {
    content: "\e171";
}
.icon-filter_drama:before {
    content: "\e172";
}
.icon-filter_frames:before {
    content: "\e173";
}
.icon-filter_hdr:before {
    content: "\e174";
}
.icon-filter_none:before {
    content: "\e175";
}
.icon-filter_tilt_shift:before {
    content: "\e176";
}
.icon-filter_vintage:before {
    content: "\e177";
}
.icon-flare:before {
    content: "\e178";
}
.icon-flash_auto:before {
    content: "\e179";
}
.icon-flash_off:before {
    content: "\e17a";
}
.icon-flash_on:before {
    content: "\e17b";
}
.icon-flip:before {
    content: "\e17c";
}
.icon-gradient:before {
    content: "\e17d";
}
.icon-grain:before {
    content: "\e17e";
}
.icon-grid_off:before {
    content: "\e17f";
}
.icon-grid_on:before {
    content: "\e180";
}
.icon-hdr_off:before {
    content: "\e181";
}
.icon-hdr_on:before {
    content: "\e182";
}
.icon-hdr_strong:before {
    content: "\e183";
}
.icon-hdr_weak:before {
    content: "\e184";
}
.icon-healing:before {
    content: "\e185";
}
.icon-image:before {
    content: "\e186";
}
.icon-image_aspect_ratio:before {
    content: "\e187";
}
.icon-iso:before {
    content: "\e188";
}
.icon-landscape2:before {
    content: "\e189";
}
.icon-leak_add:before {
    content: "\e18a";
}
.icon-leak_remove:before {
    content: "\e18b";
}
.icon-lens:before {
    content: "\e18c";
}
.icon-looks_3:before {
    content: "\e18d";
}
.icon-looks:before {
    content: "\e18e";
}
.icon-looks_4:before {
    content: "\e18f";
}
.icon-looks_5:before {
    content: "\e190";
}
.icon-looks_6:before {
    content: "\e191";
}
.icon-looks_one:before {
    content: "\e192";
}
.icon-looks_two:before {
    content: "\e193";
}
.icon-loupe:before {
    content: "\e194";
}
.icon-monochrome_photos:before {
    content: "\e195";
}
.icon-movie_creation:before {
    content: "\e196";
}
.icon-music_note:before {
    content: "\e197";
}
.icon-nature:before {
    content: "\e198";
}
.icon-nature_people:before {
    content: "\e199";
}
.icon-navigate_before:before {
    content: "\e19a";
}
.icon-navigate_next:before {
    content: "\e19b";
}
.icon-palette2:before {
    content: "\e19c";
}
.icon-panorama:before {
    content: "\e19d";
}
.icon-panorama_fish_eye:before {
    content: "\e19e";
}
.icon-panorama_horizontal:before {
    content: "\e19f";
}
.icon-panorama_vertical:before {
    content: "\e1a0";
}
.icon-panorama_wide_angle:before {
    content: "\e1a1";
}
.icon-photo:before {
    content: "\e1a2";
}
.icon-photo_album:before {
    content: "\e1a3";
}
.icon-photo_camera:before {
    content: "\e1a4";
}
.icon-photo_library:before {
    content: "\e1a5";
}
.icon-picture_as_pdf:before {
    content: "\e1a6";
}
.icon-portrait:before {
    content: "\e1a7";
}
.icon-remove_red_eye:before {
    content: "\e1a8";
}
.icon-rotate_90_degrees_ccw:before {
    content: "\e1a9";
}
.icon-rotate_left:before {
    content: "\e1aa";
}
.icon-rotate_right:before {
    content: "\e1ab";
}
.icon-slideshow:before {
    content: "\e1ac";
}
.icon-straighten:before {
    content: "\e1ad";
}
.icon-style:before {
    content: "\e1ae";
}
.icon-switch_camera:before {
    content: "\e1af";
}
.icon-switch_video:before {
    content: "\e1b0";
}
.icon-tag_faces:before {
    content: "\e1b1";
}
.icon-texture:before {
    content: "\e1b2";
}
.icon-timelapse:before {
    content: "\e1b3";
}
.icon-timer_10:before {
    content: "\e1b4";
}
.icon-timer_3:before {
    content: "\e1b5";
}
.icon-timer:before {
    content: "\e1b6";
}
.icon-timer_off:before {
    content: "\e1b7";
}
.icon-tonality:before {
    content: "\e1b8";
}
.icon-transform:before {
    content: "\e1b9";
}
.icon-tune:before {
    content: "\e1ba";
}
.icon-view_comfortable:before {
    content: "\e1bb";
}
.icon-view_compact:before {
    content: "\e1bc";
}
.icon-wb_auto:before {
    content: "\e1bd";
}
.icon-wb_cloudy:before {
    content: "\e1be";
}
.icon-wb_incandescent:before {
    content: "\e1bf";
}
.icon-wb_sunny:before {
    content: "\e1c0";
}
.icon-collections_bookmark:before {
    content: "\e1c1";
}
.icon-photo_size_select_actual:before {
    content: "\e1c2";
}
.icon-photo_size_select_large:before {
    content: "\e1c3";
}
.icon-photo_size_select_small:before {
    content: "\e1c4";
}
.icon-vignette:before {
    content: "\e1c5";
}
.icon-wb_iridescent:before {
    content: "\e1c6";
}
.icon-beenhere:before {
    content: "\e1c7";
}
.icon-directions:before {
    content: "\e1c8";
}
.icon-directions_bike:before {
    content: "\e1c9";
}
.icon-directions_bus:before {
    content: "\e1ca";
}
.icon-directions_car:before {
    content: "\e1cb";
}
.icon-directions_ferry:before {
    content: "\e1cc";
}
.icon-directions_subway:before {
    content: "\e1cd";
}
.icon-directions_railway:before {
    content: "\e1ce";
}
.icon-directions_transit:before {
    content: "\e1cf";
}
.icon-directions_walk:before {
    content: "\e1d0";
}
.icon-flight:before {
    content: "\e1d1";
}
.icon-hotel:before {
    content: "\e1d2";
}
.icon-layers:before {
    content: "\e1d3";
}
.icon-layers_clear:before {
    content: "\e1d4";
}
.icon-local_airport:before {
    content: "\e1d5";
}
.icon-local_atm:before {
    content: "\e1d6";
}
.icon-local_attraction:before {
    content: "\e1d7";
}
.icon-local_bar:before {
    content: "\e1d8";
}
.icon-local_cafe:before {
    content: "\e1d9";
}
.icon-local_car_wash:before {
    content: "\e1da";
}
.icon-local_convenience_store:before {
    content: "\e1db";
}
.icon-local_drink:before {
    content: "\e1dc";
}
.icon-local_florist:before {
    content: "\e1dd";
}
.icon-local_gas_station:before {
    content: "\e1de";
}
.icon-local_grocery_store:before {
    content: "\e1df";
}
.icon-local_hospital:before {
    content: "\e1e0";
}
.icon-local_hotel:before {
    content: "\e1e1";
}
.icon-local_laundry_service:before {
    content: "\e1e2";
}
.icon-local_library:before {
    content: "\e1e3";
}
.icon-local_mall:before {
    content: "\e1e4";
}
.icon-local_movies:before {
    content: "\e1e5";
}
.icon-local_offer:before {
    content: "\e1e6";
}
.icon-local_parking:before {
    content: "\e1e7";
}
.icon-local_pharmacy:before {
    content: "\e1e8";
}
.icon-local_phone:before {
    content: "\e1e9";
}
.icon-local_pizza:before {
    content: "\e1ea";
}
.icon-local_play:before {
    content: "\e1eb";
}
.icon-local_post_office:before {
    content: "\e1ec";
}
.icon-local_print_shop:before {
    content: "\e1ed";
}
.icon-local_restaurant:before {
    content: "\e1ee";
}
.icon-local_see:before {
    content: "\e1ef";
}
.icon-local_shipping:before {
    content: "\e1f0";
}
.icon-local_taxi:before {
    content: "\e1f1";
}
.icon-location_history:before {
    content: "\e1f2";
}
.icon-map:before {
    content: "\e1f3";
}
.icon-my_location:before {
    content: "\e1f4";
}
.icon-navigation:before {
    content: "\e1f5";
}
.icon-pin_drop:before {
    content: "\e1f6";
}
.icon-place:before {
    content: "\e1f7";
}
.icon-rate_review:before {
    content: "\e1f8";
}
.icon-restaurant_menu:before {
    content: "\e1f9";
}
.icon-satellite:before {
    content: "\e1fa";
}
.icon-store_mall_directory:before {
    content: "\e1fb";
}
.icon-terrain:before {
    content: "\e1fc";
}
.icon-traffic:before {
    content: "\e1fd";
}
.icon-directions_run:before {
    content: "\e1fe";
}
.icon-apps:before {
    content: "\e1ff";
}
.icon-arrow_back:before {
    content: "\e200";
}
.icon-arrow_drop_down:before {
    content: "\e201";
}
.icon-arrow_drop_down_circle:before {
    content: "\e202";
}
.icon-arrow_drop_up:before {
    content: "\e203";
}
.icon-arrow_forward:before {
    content: "\e204";
}
.icon-cancel:before {
    content: "\e205";
}
.icon-check:before {
    content: "\e206";
}
.icon-chevron_left:before {
    content: "\e207";
}
.icon-chevron_right:before {
    content: "\e208";
}
.icon-close:before {
    content: "\e209";
}
.icon-expand_less:before {
    content: "\e20a";
}
.icon-expand_more:before {
    content: "\e20b";
}
.icon-fullscreen:before {
    content: "\e20c";
}
.icon-fullscreen_exit:before {
    content: "\e20d";
}
.icon-menu:before {
    content: "\e20e";
}
.icon-keyboard_control:before {
    content: "\e20f";
}
.icon-more_vert:before {
    content: "\e210";
}
.icon-refresh:before {
    content: "\e211";
}
.icon-unfold_less:before {
    content: "\e212";
}
.icon-unfold_more:before {
    content: "\e213";
}
.icon-adb:before {
    content: "\e214";
}
.icon-bluetooth_audio:before {
    content: "\e215";
}
.icon-disc_full:before {
    content: "\e216";
}
.icon-do_not_disturb_alt:before {
    content: "\e217";
}
.icon-do_not_disturb:before {
    content: "\e218";
}
.icon-drive_eta:before {
    content: "\e219";
}
.icon-event_available:before {
    content: "\e21a";
}
.icon-event_busy:before {
    content: "\e21b";
}
.icon-event_note:before {
    content: "\e21c";
}
.icon-folder_special:before {
    content: "\e21d";
}
.icon-mms:before {
    content: "\e21e";
}
.icon-more:before {
    content: "\e21f";
}
.icon-network_locked:before {
    content: "\e220";
}
.icon-phone_bluetooth_speaker:before {
    content: "\e221";
}
.icon-phone_forwarded:before {
    content: "\e222";
}
.icon-phone_in_talk:before {
    content: "\e223";
}
.icon-phone_locked:before {
    content: "\e224";
}
.icon-phone_missed:before {
    content: "\e225";
}
.icon-phone_paused:before {
    content: "\e226";
}
.icon-sd_card:before {
    content: "\e227";
}
.icon-sim_card_alert:before {
    content: "\e228";
}
.icon-sms:before {
    content: "\e229";
}
.icon-sms_failed:before {
    content: "\e22a";
}
.icon-sync:before {
    content: "\e22b";
}
.icon-sync_disabled:before {
    content: "\e22c";
}
.icon-sync_problem:before {
    content: "\e22d";
}
.icon-system_update:before {
    content: "\e22e";
}
.icon-tap_and_play:before {
    content: "\e22f";
}
.icon-time_to_leave:before {
    content: "\e230";
}
.icon-vibration:before {
    content: "\e231";
}
.icon-voice_chat:before {
    content: "\e232";
}
.icon-vpn_lock:before {
    content: "\e233";
}
.icon-airline_seat_flat:before {
    content: "\e234";
}
.icon-airline_seat_flat_angled:before {
    content: "\e235";
}
.icon-airline_seat_individual_suite:before {
    content: "\e236";
}
.icon-airline_seat_legroom_extra:before {
    content: "\e237";
}
.icon-airline_seat_legroom_normal:before {
    content: "\e238";
}
.icon-airline_seat_legroom_reduced:before {
    content: "\e239";
}
.icon-airline_seat_recline_extra:before {
    content: "\e23a";
}
.icon-airline_seat_recline_normal:before {
    content: "\e23b";
}
.icon-confirmation_number:before {
    content: "\e23c";
}
.icon-live_tv:before {
    content: "\e23d";
}
.icon-ondemand_video:before {
    content: "\e23e";
}
.icon-personal_video:before {
    content: "\e23f";
}
.icon-power:before {
    content: "\e240";
}
.icon-wc:before {
    content: "\e241";
}
.icon-wifi:before {
    content: "\e242";
}
.icon-cake:before {
    content: "\e243";
}
.icon-domain:before {
    content: "\e244";
}
.icon-group:before {
    content: "\e245";
}
.icon-group_add:before {
    content: "\e246";
}
.icon-location_city:before {
    content: "\e247";
}
.icon-mood:before {
    content: "\e248";
}
.icon-mood_bad:before {
    content: "\e249";
}
.icon-notifications:before {
    content: "\e24a";
}
.icon-notifications_none:before {
    content: "\e24b";
}
.icon-notifications_off:before {
    content: "\e24c";
}
.icon-notifications_active:before {
    content: "\e24d";
}
.icon-notifications_paused:before {
    content: "\e24e";
}
.icon-pages:before {
    content: "\e24f";
}
.icon-party_mode:before {
    content: "\e250";
}
.icon-people:before {
    content: "\e251";
}
.icon-people_outline:before {
    content: "\e252";
}
.icon-person:before {
    content: "\e253";
}
.icon-person_add:before {
    content: "\e254";
}
.icon-person_outline:before {
    content: "\e255";
}
.icon-plus_one:before {
    content: "\e256";
}
.icon-poll:before {
    content: "\e257";
}
.icon-public:before {
    content: "\e258";
}
.icon-school:before {
    content: "\e259";
}
.icon-share:before {
    content: "\e25a";
}
.icon-whatshot:before {
    content: "\e25b";
}
.icon-check_box:before {
    content: "\e25c";
}
.icon-check_box_outline_blank:before {
    content: "\e25d";
}
.icon-radio_button_unchecked:before {
    content: "\e25e";
}
.icon-radio_button_checked:before {
    content: "\e25f";
}
.icon-star:before {
    content: "\e260";
}
.icon-star_half:before {
    content: "\e261";
}
.icon-star_outline:before {
    content: "\e262";
}
.icon-3d_rotation:before {
    content: "\e263";
}
.icon-accessibility:before {
    content: "\e264";
}
.icon-account_balance:before {
    content: "\e265";
}
.icon-account_balance_wallet:before {
    content: "\e266";
}
.icon-account_box:before {
    content: "\e267";
}
.icon-account_circle:before {
    content: "\e268";
}
.icon-add_shopping_cart:before {
    content: "\e269";
}
.icon-alarm:before {
    content: "\e26a";
}
.icon-alarm_add:before {
    content: "\e26b";
}
.icon-alarm_off:before {
    content: "\e26c";
}
.icon-alarm_on:before {
    content: "\e26d";
}
.icon-android:before {
    content: "\e26e";
}
.icon-announcement:before {
    content: "\e26f";
}
.icon-aspect_ratio:before {
    content: "\e270";
}
.icon-assessment:before {
    content: "\e271";
}
.icon-assignment:before {
    content: "\e272";
}
.icon-assignment_ind:before {
    content: "\e273";
}
.icon-assignment_late:before {
    content: "\e274";
}
.icon-assignment_return:before {
    content: "\e275";
}
.icon-assignment_returned:before {
    content: "\e276";
}
.icon-assignment_turned_in:before {
    content: "\e277";
}
.icon-autorenew:before {
    content: "\e278";
}
.icon-backup:before {
    content: "\e279";
}
.icon-book:before {
    content: "\e27a";
}
.icon-bookmark:before {
    content: "\e27b";
}
.icon-bookmark_outline:before {
    content: "\e27c";
}
.icon-bug_report:before {
    content: "\e27d";
}
.icon-build:before {
    content: "\e27e";
}
.icon-cached:before {
    content: "\e27f";
}
.icon-change_history:before {
    content: "\e280";
}
.icon-check_circle:before {
    content: "\e281";
}
.icon-chrome_reader_mode:before {
    content: "\e282";
}
.icon-class:before {
    content: "\e283";
}
.icon-code:before {
    content: "\e284";
}
.icon-credit_card:before {
    content: "\e285";
}
.icon-dashboard:before {
    content: "\e286";
}
.icon-delete:before {
    content: "\e287";
}
.icon-description:before {
    content: "\e288";
}
.icon-dns:before {
    content: "\e289";
}
.icon-done:before {
    content: "\e28a";
}
.icon-done_all:before {
    content: "\e28b";
}
.icon-event:before {
    content: "\e28c";
}
.icon-exit_to_app:before {
    content: "\e28d";
}
.icon-explore:before {
    content: "\e28e";
}
.icon-extension:before {
    content: "\e28f";
}
.icon-face:before {
    content: "\e290";
}
.icon-favorite:before {
    content: "\e291";
}
.icon-favorite_outline:before {
    content: "\e292";
}
.icon-feedback:before {
    content: "\e293";
}
.icon-find_in_page:before {
    content: "\e294";
}
.icon-find_replace:before {
    content: "\e295";
}
.icon-flip_to_back:before {
    content: "\e296";
}
.icon-flip_to_front:before {
    content: "\e297";
}
.icon-get_app:before {
    content: "\e298";
}
.icon-grade:before {
    content: "\e299";
}
.icon-group_work:before {
    content: "\e29a";
}
.icon-help:before {
    content: "\e29b";
}
.icon-highlight_remove:before {
    content: "\e29c";
}
.icon-history:before {
    content: "\e29d";
}
.icon-home:before {
    content: "\e29e";
}
.icon-hourglass_empty:before {
    content: "\e29f";
}
.icon-hourglass_full:before {
    content: "\e2a0";
}
.icon-https:before {
    content: "\e2a1";
}
.icon-info:before {
    content: "\e2a2";
}
.icon-info_outline:before {
    content: "\e2a3";
}
.icon-input:before {
    content: "\e2a4";
}
.icon-invert_colors_on:before {
    content: "\e2a5";
}
.icon-label:before {
    content: "\e2a6";
}
.icon-label_outline:before {
    content: "\e2a7";
}
.icon-language:before {
    content: "\e2a8";
}
.icon-launch:before {
    content: "\e2a9";
}
.icon-list:before {
    content: "\e2aa";
}
.icon-lock:before {
    content: "\e2ab";
}
.icon-lock_open:before {
    content: "\e2ac";
}
.icon-lock_outline:before {
    content: "\e2ad";
}
.icon-loyalty:before {
    content: "\e2ae";
}
.icon-markunread_mailbox:before {
    content: "\e2af";
}
.icon-note_add:before {
    content: "\e2b0";
}
.icon-open_in_browser:before {
    content: "\e2b1";
}
.icon-open_in_new:before {
    content: "\e2b2";
}
.icon-open_with:before {
    content: "\e2b3";
}
.icon-pageview:before {
    content: "\e2b4";
}
.icon-payment:before {
    content: "\e2b5";
}
.icon-perm_camera_mic:before {
    content: "\e2b6";
}
.icon-perm_contact_calendar:before {
    content: "\e2b7";
}
.icon-perm_data_setting:before {
    content: "\e2b8";
}
.icon-perm_device_information:before {
    content: "\e2b9";
}
.icon-perm_identity:before {
    content: "\e2ba";
}
.icon-perm_media:before {
    content: "\e2bb";
}
.icon-perm_phone_msg:before {
    content: "\e2bc";
}
.icon-perm_scan_wifi:before {
    content: "\e2bd";
}
.icon-picture_in_picture:before {
    content: "\e2be";
}
.icon-polymer:before {
    content: "\e2bf";
}
.icon-power_settings_new:before {
    content: "\e2c0";
}
.icon-print:before {
    content: "\e2c1";
}
.icon-query_builder:before {
    content: "\e2c2";
}
.icon-question_answer:before {
    content: "\e2c3";
}
.icon-receipt:before {
    content: "\e2c4";
}
.icon-redeem:before {
    content: "\e2c5";
}
.icon-report_problem:before {
    content: "\e2c6";
}
.icon-restore:before {
    content: "\e2c7";
}
.icon-room:before {
    content: "\e2c8";
}
.icon-schedule:before {
    content: "\e2c9";
}
.icon-search:before {
    content: "\e2ca";
}
.icon-settings:before {
    content: "\e2cb";
}
.icon-settings_applications:before {
    content: "\e2cc";
}
.icon-settings_backup_restore:before {
    content: "\e2cd";
}
.icon-settings_bluetooth:before {
    content: "\e2ce";
}
.icon-settings_cell:before {
    content: "\e2cf";
}
.icon-settings_brightness:before {
    content: "\e2d0";
}
.icon-settings_ethernet:before {
    content: "\e2d1";
}
.icon-settings_input_antenna:before {
    content: "\e2d2";
}
.icon-settings_input_component:before {
    content: "\e2d3";
}
.icon-settings_input_composite:before {
    content: "\e2d4";
}
.icon-settings_input_hdmi:before {
    content: "\e2d5";
}
.icon-settings_input_svideo:before {
    content: "\e2d6";
}
.icon-settings_overscan:before {
    content: "\e2d7";
}
.icon-settings_phone:before {
    content: "\e2d8";
}
.icon-settings_power:before {
    content: "\e2d9";
}
.icon-settings_remote:before {
    content: "\e2da";
}
.icon-settings_voice:before {
    content: "\e2db";
}
.icon-shop:before {
    content: "\e2dc";
}
.icon-shop_two:before {
    content: "\e2dd";
}
.icon-shopping_basket:before {
    content: "\e2de";
}
.icon-shopping_cart:before {
    content: "\e2df";
}
.icon-speaker_notes:before {
    content: "\e2e0";
}
.icon-spellcheck:before {
    content: "\e2e1";
}
.icon-stars:before {
    content: "\e2e2";
}
.icon-store:before {
    content: "\e2e3";
}
.icon-subject:before {
    content: "\e2e4";
}
.icon-supervisor_account:before {
    content: "\e2e5";
}
.icon-swap_horiz:before {
    content: "\e2e6";
}
.icon-swap_vert:before {
    content: "\e2e7";
}
.icon-swap_vertical_circle:before {
    content: "\e2e8";
}
.icon-system_update_alt:before {
    content: "\e2e9";
}
.icon-tab:before {
    content: "\e2ea";
}
.icon-tab_unselected:before {
    content: "\e2eb";
}
.icon-theaters:before {
    content: "\e2ec";
}
.icon-thumb_down:before {
    content: "\e2ed";
}
.icon-thumb_up:before {
    content: "\e2ee";
}
.icon-thumbs_up_down:before {
    content: "\e2ef";
}
.icon-toc:before {
    content: "\e2f0";
}
.icon-today:before {
    content: "\e2f1";
}
.icon-toll:before {
    content: "\e2f2";
}
.icon-track_changes:before {
    content: "\e2f3";
}
.icon-translate:before {
    content: "\e2f4";
}
.icon-trending_down:before {
    content: "\e2f5";
}
.icon-trending_neutral:before {
    content: "\e2f6";
}
.icon-trending_up:before {
    content: "\e2f7";
}
.icon-turned_in:before {
    content: "\e2f8";
}
.icon-turned_in_not:before {
    content: "\e2f9";
}
.icon-verified_user:before {
    content: "\e2fa";
}
.icon-view_agenda:before {
    content: "\e2fb";
}
.icon-view_array:before {
    content: "\e2fc";
}
.icon-view_carousel:before {
    content: "\e2fd";
}
.icon-view_column:before {
    content: "\e2fe";
}
.icon-view_day:before {
    content: "\e2ff";
}
.icon-view_headline:before {
    content: "\e300";
}
.icon-view_list:before {
    content: "\e301";
}
.icon-view_module:before {
    content: "\e302";
}
.icon-view_quilt:before {
    content: "\e303";
}
.icon-view_stream:before {
    content: "\e304";
}
.icon-view_week:before {
    content: "\e305";
}
.icon-visibility:before {
    content: "\e306";
}
.icon-visibility_off:before {
    content: "\e307";
}
.icon-card_giftcard:before {
    content: "\e308";
}
.icon-card_membership:before {
    content: "\e309";
}
.icon-card_travel:before {
    content: "\e30a";
}
.icon-work:before {
    content: "\e30b";
}
.icon-youtube_searched_for:before {
    content: "\e30c";
}
.icon-eject:before {
    content: "\e30d";
}
.icon-camera_enhance:before {
    content: "\e30e";
}
.icon-help_outline:before {
    content: "\e30f";
}
.icon-reorder:before {
    content: "\e310";
}
.icon-zoom_in:before {
    content: "\e311";
}
.icon-zoom_out:before {
    content: "\e312";
}
.icon-http:before {
    content: "\e313";
}
.icon-event_seat:before {
    content: "\e314";
}
.icon-flight_land:before {
    content: "\e315";
}
.icon-flight_takeoff:before {
    content: "\e316";
}
.icon-play_for_work:before {
    content: "\e317";
}
.icon-gif:before {
    content: "\e318";
}
.icon-indeterminate_check_box:before {
    content: "\e319";
}
.icon-offline_pin:before {
    content: "\e31a";
}
.icon-phone10:before {
    content: "\e600";
}
.icon-mobile4:before {
    content: "\e601";
}
.icon-mouse3:before {
    content: "\e602";
}
.icon-directions2:before {
    content: "\e603";
}
.icon-mail9:before {
    content: "\e604";
}
.icon-paperplane3:before {
    content: "\e605";
}
.icon-pencil9:before {
    content: "\e606";
}
.icon-feather3:before {
    content: "\e607";
}
.icon-paperclip4:before {
    content: "\e608";
}
.icon-drawer4:before {
    content: "\e609";
}
.icon-reply5:before {
    content: "\e60a";
}
.icon-reply-all2:before {
    content: "\e60b";
}
.icon-forward9:before {
    content: "\e60c";
}
.icon-user13:before {
    content: "\e60d";
}
.icon-users7:before {
    content: "\e60e";
}
.icon-user-add2:before {
    content: "\e60f";
}
.icon-vcard2:before {
    content: "\e610";
}
.icon-export2:before {
    content: "\e611";
}
.icon-location11:before {
    content: "\e612";
}
.icon-map7:before {
    content: "\e613";
}
.icon-compass6:before {
    content: "\e614";
}
.icon-location22:before {
    content: "\e615";
}
.icon-target8:before {
    content: "\e616";
}
.icon-share4:before {
    content: "\e617";
}
.icon-sharable:before {
    content: "\e618";
}
.icon-heart15:before {
    content: "\e619";
}
.icon-heart22:before {
    content: "\e61a";
}
.icon-star12:before {
    content: "\e61b";
}
.icon-star22:before {
    content: "\e61c";
}
.icon-thumbsup2:before {
    content: "\e61d";
}
.icon-thumbsdown2:before {
    content: "\e61e";
}
.icon-chat6:before {
    content: "\e61f";
}
.icon-comment5:before {
    content: "\e620";
}
.icon-quote4:before {
    content: "\e621";
}
.icon-house:before {
    content: "\e622";
}
.icon-popup:before {
    content: "\e623";
}
.icon-search10:before {
    content: "\e624";
}
.icon-flashlight:before {
    content: "\e625";
}
.icon-printer6:before {
    content: "\e626";
}
.icon-bell6:before {
    content: "\e627";
}
.icon-link7:before {
    content: "\e628";
}
.icon-flag8:before {
    content: "\e629";
}
.icon-cog9:before {
    content: "\e62a";
}
.icon-tools3:before {
    content: "\e62b";
}
.icon-trophy5:before {
    content: "\e62c";
}
.icon-tag12:before {
    content: "\e62d";
}
.icon-camera15:before {
    content: "\e62e";
}
.icon-megaphone5:before {
    content: "\e62f";
}
.icon-moon5:before {
    content: "\e630";
}
.icon-palette:before {
    content: "\e631";
}
.icon-leaf4:before {
    content: "\e632";
}
.icon-music6:before {
    content: "\e633";
}
.icon-music22:before {
    content: "\e634";
}
.icon-new:before {
    content: "\e635";
}
.icon-graduation:before {
    content: "\e636";
}
.icon-book12:before {
    content: "\e637";
}
.icon-newspaper4:before {
    content: "\e638";
}
.icon-bag4:before {
    content: "\e639";
}
.icon-airplane2:before {
    content: "\e63a";
}
.icon-lifebuoy:before {
    content: "\e63b";
}
.icon-eye11:before {
    content: "\e63c";
}
.icon-clock10:before {
    content: "\e63d";
}
.icon-microphone10:before {
    content: "\e63e";
}
.icon-calendar13:before {
    content: "\e63f";
}
.icon-bolt3:before {
    content: "\e640";
}
.icon-thunder:before {
    content: "\e641";
}
.icon-droplet3:before {
    content: "\e642";
}
.icon-cd:before {
    content: "\e643";
}
.icon-briefcase7:before {
    content: "\e644";
}
.icon-air:before {
    content: "\e645";
}
.icon-hourglass3:before {
    content: "\e646";
}
.icon-gauge:before {
    content: "\e647";
}
.icon-language2:before {
    content: "\e648";
}
.icon-network:before {
    content: "\e649";
}
.icon-key9:before {
    content: "\e64a";
}
.icon-battery8:before {
    content: "\e64b";
}
.icon-bucket2:before {
    content: "\e64c";
}
.icon-magnet4:before {
    content: "\e64d";
}
.icon-drive:before {
    content: "\e64e";
}
.icon-cup2:before {
    content: "\e64f";
}
.icon-rocket5:before {
    content: "\e650";
}
.icon-brush3:before {
    content: "\e651";
}
.icon-suitcase5:before {
    content: "\e652";
}
.icon-cone3:before {
    content: "\e653";
}
.icon-earth3:before {
    content: "\e654";
}
.icon-keyboard6:before {
    content: "\e655";
}
.icon-browser5:before {
    content: "\e656";
}
.icon-publish:before {
    content: "\e657";
}
.icon-progress-3:before {
    content: "\e658";
}
.icon-progress-2:before {
    content: "\e659";
}
.icon-brogress-1:before {
    content: "\e65a";
}
.icon-progress-0:before {
    content: "\e65b";
}
.icon-sun5:before {
    content: "\e65c";
}
.icon-sun22:before {
    content: "\e65d";
}
.icon-adjust2:before {
    content: "\e65e";
}
.icon-code6:before {
    content: "\e65f";
}
.icon-screen4:before {
    content: "\e660";
}
.icon-infinity2:before {
    content: "\e661";
}
.icon-light-bulb2:before {
    content: "\e662";
}
.icon-creditcard2:before {
    content: "\e663";
}
.icon-database5:before {
    content: "\e664";
}
.icon-voicemail:before {
    content: "\e665";
}
.icon-clipboard8:before {
    content: "\e666";
}
.icon-cart6:before {
    content: "\e667";
}
.icon-box6:before {
    content: "\e668";
}
.icon-ticket7:before {
    content: "\e669";
}
.icon-rss4:before {
    content: "\e66a";
}
.icon-signal3:before {
    content: "\e66b";
}
.icon-thermometer4:before {
    content: "\e66c";
}
.icon-droplets:before {
    content: "\e66d";
}
.icon-uniE66E:before {
    content: "\e66e";
}
.icon-statistics:before {
    content: "\e66f";
}
.icon-pie2:before {
    content: "\e670";
}
.icon-bars4:before {
    content: "\e671";
}
.icon-graph3:before {
    content: "\e672";
}
.icon-lock8:before {
    content: "\e673";
}
.icon-lock-open2:before {
    content: "\e674";
}
.icon-logout:before {
    content: "\e675";
}
.icon-login:before {
    content: "\e676";
}
.icon-checkmark8:before {
    content: "\e677";
}
.icon-cross5:before {
    content: "\e678";
}
.icon-minus9:before {
    content: "\e679";
}
.icon-plus10:before {
    content: "\e67a";
}
.icon-cross22:before {
    content: "\e67b";
}
.icon-minus22:before {
    content: "\e67c";
}
.icon-plus22:before {
    content: "\e67d";
}
.icon-cross32:before {
    content: "\e67e";
}
.icon-minus32:before {
    content: "\e67f";
}
.icon-plus32:before {
    content: "\e680";
}
.icon-erase:before {
    content: "\e681";
}
.icon-blocked4:before {
    content: "\e682";
}
.icon-info9:before {
    content: "\e683";
}
.icon-info22:before {
    content: "\e684";
}
.icon-question5:before {
    content: "\e685";
}
.icon-help2:before {
    content: "\e686";
}
.icon-warning6:before {
    content: "\e687";
}
.icon-cycle:before {
    content: "\e688";
}
.icon-cw:before {
    content: "\e689";
}
.icon-ccw:before {
    content: "\e68a";
}
.icon-shuffle4:before {
    content: "\e68b";
}
.icon-arrow:before {
    content: "\e68c";
}
.icon-arrow2:before {
    content: "\e68d";
}
.icon-retweet3:before {
    content: "\e68e";
}
.icon-loop5:before {
    content: "\e68f";
}
.icon-history4:before {
    content: "\e690";
}
.icon-back:before {
    content: "\e691";
}
.icon-switch7:before {
    content: "\e692";
}
.icon-list9:before {
    content: "\e693";
}
.icon-add-to-list:before {
    content: "\e694";
}
.icon-layout16:before {
    content: "\e695";
}
.icon-list22:before {
    content: "\e696";
}
.icon-text:before {
    content: "\e697";
}
.icon-text2:before {
    content: "\e698";
}
.icon-document2:before {
    content: "\e699";
}
.icon-docs:before {
    content: "\e69a";
}
.icon-landscape:before {
    content: "\e69b";
}
.icon-pictures4:before {
    content: "\e69c";
}
.icon-video4:before {
    content: "\e69d";
}
.icon-music32:before {
    content: "\e69e";
}
.icon-folder9:before {
    content: "\e69f";
}
.icon-archive6:before {
    content: "\e6a0";
}
.icon-trash6:before {
    content: "\e6a1";
}
.icon-upload10:before {
    content: "\e6a2";
}
.icon-download12:before {
    content: "\e6a3";
}
.icon-disk3:before {
    content: "\e6a4";
}
.icon-install:before {
    content: "\e6a5";
}
.icon-cloud10:before {
    content: "\e6a6";
}
.icon-upload22:before {
    content: "\e6a7";
}
.icon-bookmark11:before {
    content: "\e6a8";
}
.icon-bookmarks2:before {
    content: "\e6a9";
}
.icon-book22:before {
    content: "\e6aa";
}
.icon-play9:before {
    content: "\e6ab";
}
.icon-pause7:before {
    content: "\e6ac";
}
.icon-record2:before {
    content: "\e6ad";
}
.icon-stop9:before {
    content: "\e6ae";
}
.icon-next3:before {
    content: "\e6af";
}
.icon-previous2:before {
    content: "\e6b0";
}
.icon-first2:before {
    content: "\e6b1";
}
.icon-last2:before {
    content: "\e6b2";
}
.icon-resize-enlarge:before {
    content: "\e6b3";
}
.icon-resize-shrink:before {
    content: "\e6b4";
}
.icon-volume9:before {
    content: "\e6b5";
}
.icon-sound4:before {
    content: "\e6b6";
}
.icon-mute5:before {
    content: "\e6b7";
}
.icon-flow-cascade:before {
    content: "\e6b8";
}
.icon-flow-branch:before {
    content: "\e6b9";
}
.icon-flow-tree:before {
    content: "\e6ba";
}
.icon-flow-line:before {
    content: "\e6bb";
}
.icon-flow-parallel2:before {
    content: "\e6bc";
}
.icon-arrow-left9:before {
    content: "\e6bd";
}
.icon-arrow-down9:before {
    content: "\e6be";
}
.icon-arrow-up-upload:before {
    content: "\e6bf";
}
.icon-arrow-right9:before {
    content: "\e6c0";
}
.icon-arrow-left22:before {
    content: "\e6c1";
}
.icon-arrow-down22:before {
    content: "\e6c2";
}
.icon-arrow-up9:before {
    content: "\e6c3";
}
.icon-arrow-right22:before {
    content: "\e6c4";
}
.icon-arrow-left32:before {
    content: "\e6c5";
}
.icon-arrow-down32:before {
    content: "\e6c6";
}
.icon-arrow-up22:before {
    content: "\e6c7";
}
.icon-arrow-right32:before {
    content: "\e6c8";
}
.icon-arrow-left42:before {
    content: "\e6c9";
}
.icon-arrow-down42:before {
    content: "\e6ca";
}
.icon-arrow-up32:before {
    content: "\e6cb";
}
.icon-arrow-right42:before {
    content: "\e6cc";
}
.icon-arrow-left52:before {
    content: "\e6cd";
}
.icon-arrow-down52:before {
    content: "\e6ce";
}
.icon-arrow-up42:before {
    content: "\e6cf";
}
.icon-arrow-right52:before {
    content: "\e6d0";
}
.icon-arrow-left62:before {
    content: "\e6d1";
}
.icon-arrow-down62:before {
    content: "\e6d2";
}
.icon-arrow-up52:before {
    content: "\e6d3";
}
.icon-arrow-right62:before {
    content: "\e6d4";
}
.icon-arrow-left72:before {
    content: "\e6d5";
}
.icon-arrow-down72:before {
    content: "\e6d6";
}
.icon-arrow-up62:before {
    content: "\e6d7";
}
.icon-uniE6D8:before {
    content: "\e6d8";
}
.icon-arrow-left82:before {
    content: "\e6d9";
}
.icon-arrow-down82:before {
    content: "\e6da";
}
.icon-arrow-up72:before {
    content: "\e6db";
}
.icon-arrow-right72:before {
    content: "\e6dc";
}
.icon-menu5:before {
    content: "\e6dd";
}
.icon-ellipsis3:before {
    content: "\e6de";
}
.icon-dots:before {
    content: "\e6df";
}
.icon-dot:before {
    content: "\e6e0";
}
.icon-cc:before {
    content: "\e6e1";
}
.icon-cc-by:before {
    content: "\e6e2";
}
.icon-cc-nc:before {
    content: "\e6e3";
}
.icon-cc-nc-eu:before {
    content: "\e6e4";
}
.icon-cc-nc-jp:before {
    content: "\e6e5";
}
.icon-cc-sa:before {
    content: "\e6e6";
}
.icon-cc-nd:before {
    content: "\e6e7";
}
.icon-cc-pd:before {
    content: "\e6e8";
}
.icon-cc-zero:before {
    content: "\e6e9";
}
.icon-cc-share:before {
    content: "\e6ea";
}
.icon-cc-share2:before {
    content: "\e6eb";
}
.icon-danielbruce:before {
    content: "\e6ec";
}
.icon-danielbruce2:before {
    content: "\e6ed";
}
.icon-github7:before {
    content: "\e6ee";
}
.icon-github22:before {
    content: "\e6ef";
}
.icon-flickr6:before {
    content: "\e6f0";
}
.icon-flickr22:before {
    content: "\e6f1";
}
.icon-vimeo4:before {
    content: "\e6f2";
}
.icon-vimeo22:before {
    content: "\e6f3";
}
.icon-twitter6:before {
    content: "\e6f4";
}
.icon-twitter22:before {
    content: "\e6f5";
}
.icon-facebook6:before {
    content: "\e6f6";
}
.icon-facebook22:before {
    content: "\e6f7";
}
.icon-facebook32:before {
    content: "\e6f8";
}
.icon-googleplus6:before {
    content: "\e6f9";
}
.icon-googleplus22:before {
    content: "\e6fa";
}
.icon-pinterest4:before {
    content: "\e6fb";
}
.icon-pinterest22:before {
    content: "\e6fc";
}
.icon-tumblr4:before {
    content: "\e6fd";
}
.icon-tumblr22:before {
    content: "\e6fe";
}
.icon-linkedin3:before {
    content: "\e6ff";
}
.icon-linkedin22:before {
    content: "\e700";
}
.icon-dribbble7:before {
    content: "\e701";
}
.icon-dribbble22:before {
    content: "\e702";
}
.icon-stumbleupon4:before {
    content: "\e703";
}
.icon-stumbleupon22:before {
    content: "\e704";
}
.icon-lastfm3:before {
    content: "\e705";
}
.icon-lastfm22:before {
    content: "\e706";
}
.icon-rdio:before {
    content: "\e707";
}
.icon-rdio2:before {
    content: "\e708";
}
.icon-spotify2:before {
    content: "\e709";
}
.icon-spotify22:before {
    content: "\e70a";
}
.icon-qq2:before {
    content: "\e70b";
}
.icon-instagram4:before {
    content: "\e70c";
}
.icon-dropbox2:before {
    content: "\e70d";
}
.icon-evernote:before {
    content: "\e70e";
}
.icon-flattr2:before {
    content: "\e70f";
}
.icon-skype4:before {
    content: "\e710";
}
.icon-skype22:before {
    content: "\e711";
}
.icon-renren2:before {
    content: "\e712";
}
.icon-sina-weibo:before {
    content: "\e713";
}
.icon-paypal4:before {
    content: "\e714";
}
.icon-picasa:before {
    content: "\e715";
}
.icon-soundcloud4:before {
    content: "\e716";
}
.icon-mixi:before {
    content: "\e717";
}
.icon-behance2:before {
    content: "\e718";
}
.icon-circles:before {
    content: "\e719";
}
.icon-vk2:before {
    content: "\e71a";
}
.icon-smashing:before {
    content: "\e71b";
}