<av-content-header title="ندها"></av-content-header>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control floating-label" id="focusedInput"
                   ng-model="searchText"
                   type="text" placeholder="جستجو...">
        </div>
    </div>
</div>

<div class="row padding">
    <div class="col-md-12">

        <div av-sort-grid data="nodes" order="order">
            <form class="form">
                <table class="table">
                    <thead>
                        <tr>
                            <th>شناسه</th>
                            <th av-sort-column="name">نام</th>
                            <th av-sort-column="bandwidth">پهنای باند</th>
                            <th>تاریخ</th>
                            <th av-sort-column="isActive">پیش‌فرض</th>
                            <th>وضعیت</th>
                            <th>امکانات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="node in nodes | filter: searchText | orderObjectBy: order.field:order.reverse">
                            <td>{{node.id}}</td>
                            <td>{{node.name}}</td>
                            <td>{{node.bandwidth}}</td>
                            <td>{{node.creationTime|date}}</td>
                            <td>
                                <span ng-if="node.isDefault">اصلی</span>
                            </td>
                            <td>
                                <span class="badge green" ng-if="node.isActive">فعال</span>
                            </td>
                            <td>
                                <div class="group">
                                    <a class="btn action" ng-href="#/nodes/{{node.id}}"><i class="icon-eye11"></i></a>
                                    <a class="btn action" ng-click="toggleActivation(node)">
                                        <i ng-class="{false: 'icon-done', true: 'icon-cross5'}[node.isActive]"></i>
                                    </a>
                                    <a class="btn action"><i class="icon-trash6"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="actions">
                    <a class="btn save" href="#/nodes/add"><i class="icon-plus10"></i>افزودن</a>
                </div>
            </form>
        </div>
    </div>
</div>
