<div class="row padding">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <header class="header">
            <span class="border"></span>
            <h4><i class="icon-list22"></i>{{title}}</h4>
        </header>
    </div>
</div>
