/*---------------------------------------------
   Section Dashboard
---------------------------------------------*/
section.dashboard
{
    min-height: 100%;
    min-height: ~"calc(100vh - 100px)";
    position: relative;

    // Pseudo Element
    //---------------------------------------------
    &:after
    {
        content: "";
        display: block;
        .size(45px, 100%);
    }

    // Sidebar
    //---------------------------------------------
    aside.sidebar
    {
        .float(right);
        .size(auto, 20%);
        background: @HomeSidebarBackground;
        border-left: 1px solid darken(@HomeSidebarBackground, 2%);

        // Header
        //---------------------------------------------
        header
        {
            .float(right);
            .size(125px, 100%);
            background: @HomeSidebarHeaderBackground;
            border-bottom: 1px solid darken(@HomeSidebarHeaderBackground, 5%);

            // Caption
            //---------------------------------------------
            & > h1
            {
                .float(right);
                .font-size(1.5);
                .size(auto, 100%);
                margin: 0px 0px;
                text-align: center;
                line-height: 125px;
                letter-spacing: -0.25px;
                font-family: 'Yekan', 'Number';
                color: @HomeSidebarHeaderColor;
            }
        }

        // Menu
        //---------------------------------------------
        ul.menu
        {
            .float(right);
            .transition(.3s);
            .size(auto, 100%);
            padding: 0px 0px;
            list-style: none;

            // Item
            //---------------------------------------------
            & > li
            {
                .float(right);
                .transition(.3s);
                .size(auto, 100%);
                cursor: pointer;
                padding: 0px 0px;
                min-height: 60px;
                line-height: 60px;
                background: @HomeSidebarBackground;

                // Except First One
                //---------------------------------------------
                & + li
                {
                    border-top: 1px solid darken(@HomeSidebarBackground, 3%);
                }

                // On Hover
                //---------------------------------------------
                &:hover,
                &.active
                {
                    color: @HomeSidebarActiveColor;
                    background: @HomeSidebarActiveBackground;

                    // Link
                    //---------------------------------------------
                    a
                    {
                        color: @HomeSidebarActiveColor;

                        // Icon
                        //---------------------------------------------
                        & > i[class*="icon-"]:before
                        {
                            .opacity(1);
                            color: @HomeSidebarActiveColor;
                        }
                    }

                    // Arrow Icon
                    //---------------------------------------------
                    & > i[class*="icon-"]
                    {
                        .opacity(1);
                        color: @HomeSidebarActiveColor;
                    }
                }

                // Link
                //---------------------------------------------
                & > a
                {
                    .float(right);
                    .font-size(1.2);
                    .transition(.3s);
                    padding-right: 25px;
                    letter-spacing: -0.25px;
                    color: @HomeSidebarColor;
                    font-family: 'Yekan', 'Number';

                    // Icon
                    //---------------------------------------------
                    & > i[class*="icon-"]:before
                    {
                        .opacity(.75);
                        .font-size(1.75);
                        .transition(.3s);
                        margin-left: 10px;
                        color: @HomeSidebarColor;
                    }
                }

                // Arrow Icon
                //---------------------------------------------
                & > i[class*="icon-"]
                {
                    .float(left);
                    .opacity(.85);
                    .transition(.3s);
                    padding-left: 25px;
                    color: @HomeSidebarColor;
                }

                // Extra Menu
                //---------------------------------------------
                ul.extra
                {
                    .float(right);
                    .transition(.3s);
                    .size(auto, 100%);
                    display: none;
                    padding: 0px 0px;
                    list-style: none;
                    background: @HomeSidebarExtraBackground;

                    // Extend Mode
                    //---------------------------------------------
                    &.extend
                    {
                        display: block;
                    }

                    // Item
                    //---------------------------------------------
                    & > li
                    {
                        .float(right);
                        .transition(.3s);
                        .size(auto, 100%);
                        cursor: pointer;
                        padding: 0px 0px;
                        min-height: 60px;
                        line-height: 60px;

                        // Except First One
                        //---------------------------------------------
                        & + li
                        {
                            border-top: 1px solid darken(@HomeSidebarExtraBackground, 3%);
                        }

                        // On Hover
                        //---------------------------------------------
                        &:hover,
                        &.active
                        {
                            color: @HomeSidebarExtraActiveColor;

                            // Link
                            //---------------------------------------------
                            a
                            {
                                color: @HomeSidebarExtraActiveColor;

                                // Icon
                                //---------------------------------------------
                                & > i[class*="icon-"]:before
                                {
                                    .opacity(1);
                                    color: @HomeSidebarExtraActiveColor;
                                }
                            }

                            // Arrow Icon
                            //---------------------------------------------
                            & > i[class*="icon-"]
                            {
                                .opacity(1);
                                color: @HomeSidebarExtraActiveColor;
                            }
                        }

                        // Link
                        //---------------------------------------------
                        & > a
                        {
                            .float(right);
                            .font-size(1.2);
                            .transition(.3s);
                            padding-right: 50px;
                            letter-spacing: -0.25px;
                            color: @HomeSidebarExtraColor;
                            font-family: 'Yekan', 'Number';

                            // Icon
                            //---------------------------------------------
                            & > i[class*="icon-"]:before
                            {
                                .opacity(.75);
                                .font-size(1.75);
                                .transition(.3s);
                                margin-left: 10px;
                                color: @HomeSidebarExtraColor;
                            }
                        }

                        // Arrow Icon
                        //---------------------------------------------
                        & > i[class*="icon-"]
                        {
                            .float(left);
                            .opacity(.85);
                            .transition(.3s);
                            padding-left: 25px;
                            color: @HomeSidebarExtraColor;
                        }
                    }
                }
            }
        }
    }

    // Content
    //---------------------------------------------
    main.content
    {
        .float(right);
        .size(auto, 80%);
        padding: 20px 25px;

        // General Section Header
        //---------------------------------------------
        .header
        {
            .size(auto, 100%);
            border: none;
            position: relative;
            background: rgb(255, 255, 255);

            // Section Border
            //---------------------------------------------
            span.border
            {
                .size(1px, 100%);
                .absolute(6px, 0, auto, auto);
                background: rgb(235, 235, 235);
            }

            // Section Header
            //---------------------------------------------
            h4
            {
                .inline();
                .font-size(1.2);
                padding-left: 15px;
                margin-bottom: 0px;
                position: relative;
                letter-spacing: -0.25px;
                color: rgb(135, 135, 135);
                background: rgb(255, 255, 255);
                font-family: 'Yekan', 'Number';


                // Title Icon
                //---------------------------------------------
                & > i[class*="icon-"]:before
                {
                    .opacity(.75);
                    .font-size(1.3);
                    margin-left: 3px;
                    vertical-align: sub;
                }
            }
        }

        // Breadcrumb
        //---------------------------------------------
        .breadcrumb
        {
            .float(right);
            .rounded(3px);
            .size(40px, 100%);
            padding: 0px 20px;
            background: @HomeBreadcrumbBackground;
            border: 1px solid darken(@HomeBreadcrumbBackground, 3%);

            // Title
            //---------------------------------------------
            & > span
            {
                .float(right);
                .font-size(1.2);
                .transition(.3s);
                .size(auto, auto);
                margin: 0px 0px;
                line-height: 40px;
                font-family: 'Yekan';
                letter-spacing: -0.25px;
                color: @HomeBreadcrumbColor;

                // Last One
                //---------------------------------------------
                &:last-of-type
                {
                    color: darken(@HomeBreadcrumbColor, 15%);
                }

                // Arrow Icon
                //---------------------------------------------
                & > i[class*="icon-"]
                {
                    .float(right);
                    .opacity(.75);
                    margin-right: 3px;
                    vertical-align: -4px;
                    color: lighten(@HomeBreadcrumbColor, 15%);
                }
            }
        }

        // Form
        //---------------------------------------------
        .form
        {
            .size-1-1 { width: 225px   !important };
            .size-1-2 { width: 112.5px !important };
            .size-1-3 { width: 74px    !important };
            .size-1-4 { width: 56.25px !important };
            .size-1-5 { width: 45px    !important };

            // Pair Width Label
            //---------------------------------------------
            .pair
            {
                .float(right);
                .size(auto, 48.5%);

                // Even Item
                //---------------------------------------------
                &:nth-of-type(2n)
                {
                    margin-right: 3%;
                }
            }

            // Set Element Holder
            //---------------------------------------------
            .holder
            {
                .float(right);
                .size(50px, auto);

                // Override Label
                //---------------------------------------------
                & > label
                {
                    padding: 0px 15px;
                }

                // Override Radio Button
                //---------------------------------------------
                & > input[type="radio"]
                {
                    display: none;

                    // Related Label
                    //---------------------------------------------
                    & + label
                    {
                        .font-size(1.2);
                        .transition(.3s);
                        .size(40px, 100%);
                        cursor: pointer;
                        line-height: 40px;
                        text-align: center;
                        color: rgb(125, 125, 125);
                        background: rgb(255, 255, 255);
                        border: 1px solid @InputBorderColor;

                        // Icon
                        //---------------------------------------------
                        & > i[class*="icon-"]:before
                        {
                            .inline();
                            .font-size(1.3);
                            margin-left: 5px;
                            vertical-align: middle;
                        }
                    }

                    // Checked State Label
                    //---------------------------------------------
                    &:checked + label
                    {
                        color: rgb(255, 255, 255);
                        background: rgb(0, 157, 220);
                    }
                }

                // Male Label
                //---------------------------------------------
                &:first-of-type > input + label
                {
                    border-left: 0;
                    .border-radius(3px, 3px, 0, 0);
                }

                // Female Label
                //---------------------------------------------
                &:last-of-type > input + label
                {
                    .border-radius(0, 0, 3px, 3px);
                }
            }

            // Link
            //---------------------------------------------
            a.link
            {
                .float(right);
                .font-size(1.1);
                .size(40px, auto);
                line-height: 40px;
                padding-right: 7px;
                color: @InputColor;
                font-family: 'Yekan';
                letter-spacing: -0.25px;
            }

            // Actions Bar
            //---------------------------------------------
            .actions
            {
                .float(right);
                .size(auto, 100%);
                margin-bottom: 25px;
                padding: 25px 95px;
                background: @HomeActionBackground;
                border-top: 1px solid darken(@HomeActionBackground, 3%);

                // Action Button
                //---------------------------------------------
                a.btn
                {
                    .float(right);
                    min-width: 115px;
                    margin-left: 10px;
                    padding-left: 5px;
                    padding-right: 10px;
                }
            }
        }

        // Data
        //---------------------------------------------
        .data
        {
            .size(auto, 100%);
            border: none;
            position: relative;
            color: rgb(105, 105, 105);
            background: rgb(255, 255, 255);

            // Form
            //---------------------------------------------
            form.form
            {
                padding: 0px 0px;

                // Filter
                //---------------------------------------------
                label.filter
                {
                    .size(auto, auto);

                    // Except First One
                    //---------------------------------------------
                    & + label.filter
                    {
                        margin-right: 20px;
                    }
                }

                // Input
                //---------------------------------------------
                input
                {
                    margin-bottom: 0px;
                    color: rgb(105, 105, 105);

                    // Search Input
                    //---------------------------------------------
                    &.search
                    {
                        .size(40px, 100%);
                        margin-bottom: 0px;
                    }
                }

                // Search Icon
                //---------------------------------------------
                i.search
                {
                    .opacity(.5);
                    .absolute(10px, auto, 10px, 10px);

                    // Pseudo Class
                    //---------------------------------------------
                    &:before
                    {
                        .font-size(2);
                    }
                }

                // Caption
                //---------------------------------------------
                span.caption
                {
                    .float(left);
                    .size(auto, auto);
                    text-align: left;
                }

                // Title
                //---------------------------------------------
                span.title
                {
                    .float(right);
                    .size(auto, auto);
                    text-align: right;
                    margin: 0px 5px 0px 0px;
                }
            }
        }

        // Table
        //---------------------------------------------
        .table
        {
            margin-bottom: 25px;
            border: 1px solid @TableHeaderBackground;

            // Table Header
            //---------------------------------------------
            & > thead
            {
                // Header Row
                //---------------------------------------------
                & > tr
                {
                    background: @TableHeaderBackground;

                    // Header Cell
                    //---------------------------------------------
                    & > th
                    {
                        .font-size(1.3);
                        .transition(.3s);
                        padding: 15px 10px;
                        font-family: 'Yekan';
                        letter-spacing: -0.25px;
                        color: @TableHeaderColor;
                    }
                }
            }

            // Table body
            //---------------------------------------------
            & > tbody
            {

                // Body Row
                //---------------------------------------------
                & > tr
                {
                    .transition(.3s);
                    background: @TableBodyBackground;

                    // Odd Row
                    //---------------------------------------------
                    &:nth-of-type(2n+1)
                    {
                        background: @TableBodyBackground;
                    }

                    // Even Row
                    //---------------------------------------------
                    &:nth-of-type(2n)
                    {
                        background: darken(@TableBodyBackground, 2.5%);
                    }

                    // Row Border
                    //---------------------------------------------
                    &:not(:last-of-type)
                    {
                        border-bottom: 1px solid @TableHeaderBackground;
                    }

                    // Highlight & On Hover
                    //---------------------------------------------
                    &:hover,
                    &.highlight
                    {
                        background: @TableActiveBackground;
                        border-bottom: 1px solid darken(@TableActiveBackground, 5%);

                        // All Cell Except Last One
                        //---------------------------------------------
                        & > td:not(:last-of-type)
                        {
                            border-left: 1px solid darken(@TableActiveBackground, 5%);
                        }
                    }

                    // Body Cell
                    //---------------------------------------------
                    & > td
                    {
                        .font-size(1);
                        .transition(.3s);
                        padding: 15px 10px;
                        color: @TableBodyColor;

                        // Cell Border
                        //---------------------------------------------
                        &:not(:last-of-type)
                        {
                            border-left: 1px solid @TableHeaderBackground;
                        }

                        // Inline Badge
                        //---------------------------------------------
                        & > span.badge
                        {
                            .rounded(3px);
                            .font-size(1);
                            display: block;
                            margin: 0px auto;
                            padding: 5px 7px;
                            position: relative;
                            letter-spacing: -0.25px;
                            background: @TableBadgeBackground;

                            // Color Red
                            //---------------------------------------------
                            &.red
                            {
                                color: rgb(255, 255, 255);
                                background: rgb(244, 20, 88);
                            }

                            // Color Green
                            //---------------------------------------------
                            &.green
                            {
                                color: rgb(255, 255, 255);
                                background: rgb(162, 195, 41);
                            }
                        }

                        // Group Button
                        //---------------------------------------------
                        & > .group
                        {
                            .inline();
                            .float(none);
                            margin: 0px auto;

                            // Button
                            //---------------------------------------------
                            a.btn
                            {
                                .float(right);
                                .rounded(0px);
                                padding: 0px 0px;

                                // Icon
                                //---------------------------------------------
                                & > i[class*="icon-"]
                                {
                                    margin: 0px 0px;
                                    background: transparent;
                                }

                                // Except Last Element
                                //---------------------------------------------
                                &:not(:last-of-type)
                                {
                                    border-left: 0;
                                }

                                // First Element
                                //---------------------------------------------
                                &:first-of-type
                                {
                                    .border-radius(3px, 3px, 0 ,0);
                                }

                                // Last Element
                                //---------------------------------------------
                                &:last-of-type
                                {
                                    .border-radius(0, 0, 3px, 3px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}