<!-- Begin Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <span class="copyright">تمامی حقوق این سامانه برای موسسه فرهنگی هنری محتوا پردازان فراکاو محفوظ است. کپی رایت ۱۳۹۴</span>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
