<av-content-header title="ند"></av-content-header>

<div class="row">
    <div class="col-md-8">
        <!--
             // type Node struct {
             //     Id           uint           `json:"id,omitempty"`
             //     Host         string         `json:"host"`
             //     Label        string         `json:"label"`
             //     Quality      uint           `json:"capacity"`
             //     Capacity     uint           `json:"quality"`
             //     Location     string         `json:"location"`
             //     Bandwidth    uint           `json:"bandwidth"`
             //     StoragePath  string         `json:"storage_path"`
             //     IsActive     bool           `json:"isActive"`
             //     IsDefault    bool           `json:"isDefault"`
             //     CreationTime time.Time      `json:"creationTime,omitempty"`
             // }
           -->
        <p class="text-muted">شناسه: {{node.id}} | تاریخ: {{node.creationTime|date}}</p>
        <form class="form" accept-charset="utf-8">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="inputName">
                        <span>هاست</span>
                        <input ng-model="node.name"
                               type="text" class="form-control" id="inputName" placeholder="Name">
                    </label>
                    <label for="inputLabel">
                        <span>برچسب</span>
                        <input ng-model="node.label" id="inputLabel"
                               type="text" class="form-control" placeholder="west">
                    </label>

                    <label for="inputQuality">
                        <span>کیفیت</span>
                        <input ng-model="node.quality" id="inputQuality"
                               type="text" class="form-control" placeholder="good">
                    </label>
                    <label for="inputCapacity">
                        <span>ظرفیت</span>
                        <input ng-model="node.quality" id="inputCapacity"
                               type="text" class="form-control" placeholder="100">
                    </label>
                    <label for="inputLocation">
                        <span>مکان</span>
                        <input ng-model="node.quality" id="inputLocation"
                               type="text" class="form-control" placeholder="somewhere">
                    </label>
                    <label for="inputPath">
                        <span>محل ذهیره‌سازی</span>
                        <input ng-model="node.storagepath" id="inputPath"
                               type="text" class="form-control" placeholder="/storage/path">
                    </label>
                    <label for="inputBw">
                        <span>پهنای باند</span>
                        <input ng-model="node.bandwidth" id="inputBw"
                               type="text" class="form-control" placeholder="100">
                    </label>
                </div>
            </div>
            <div class="actions">
                <a class="btn save" ng-click="submit()"><i class="icon-mode_edit"></i>ذخیره</a>
                <a class="btn update"  ng-click="setDefault()"><i class="icon-plus10"></i>ند اصلی‌ش بکن</a>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <span class="text-success" ng-if="showMessage"> Saved</span>
                </div>
            </div>
        </form>
    </div>
</div>
