/*---------------------------------------------
    Mixin
---------------------------------------------*/

// Absolute Position Helper
//---------------------------------------------
.absolute (@top: auto, @right: auto, @bottom: auto, @left: auto)
{
    top:      @top;
    right:    @right;
    bottom:   @bottom;
    left:     @left;
    position: absolute;
}
// Fixed Position Helper
//---------------------------------------------
.fixed (@top: auto, @right: auto, @bottom: auto, @left: auto)
{
    top:      @top;
    right:    @right;
    bottom:   @bottom;
    left:     @left;
    position: fixed;
}
// Float Helper
//---------------------------------------------
.float (@direction: left)
{
    float: @direction;
}
// Inline Display Helper
//---------------------------------------------
.inline (@importance: '')
{
    display:  ~"inline-block @{importance}";
    *display: ~"inline @{importance}";
    *zoom:    1;
}
// Link Helper
//---------------------------------------------
.link (@color: inherit, @textDecoration: none, @colorActive: inherit, @textDecorationActive: none, @colorVisited: @color, @textDecorationVisited: @textDecoration)
{
    color:           @color;
    text-decoration: @textDecoration;

    &:visited
    {
        color:           @colorVisited;
        text-decoration: @textDecorationVisited;
    }

    &:hover,
    &:focus
    {
        color:           @colorActive;
        text-decoration: @textDecorationActive;
    }
}
// Remove Tap Helper
//---------------------------------------------
.no-tap-style ()
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout:       none;
    -webkit-user-select:         none;
    -khtml-user-select:          none;
    -moz-user-select:            none;
    -ms-user-select:             none;
    -o-user-select:              none;
    user-select:                 none;
    outline:                     none;
}
// Placeholder Helper
//---------------------------------------------
.placeholder (@color: #eaeaea, @font-size: 1, @font-style: normal)
{
    .define(@color, @font-size, @font-style)
    {
        @remValue: @font-size;
        @pxValue: (@font-size * 10);

        color:      ~'@{color}';
        font-size:  ~"@{pxValue}px";
        font-size:  ~"@{remValue}rem";
        font-style: ~'@{font-style}';
    }
    &::-webkit-input-placeholder
    {
        .define(@color, @font-size, @font-style);
    }
    &:-ms-input-placeholder
    {
        .define(@color, @font-size, @font-style);
    }
    &:-moz-placeholder
    {
        .define(@color, @font-size, @font-style);
    }
    &::-moz-placeholder
    {
        .define(@color, @font-size, @font-style);
    }
    &:-moz-placeholder
    {
        .define(@color, @font-size, @font-style);
    }
}
// Size Helper
//---------------------------------------------
.size (@height, @width)
{
    height: @height;
    width:  @width;
}
// Square Helper
//---------------------------------------------
.square (@size)
{
    .size(@size, @size);
}
// Circle Helper
//---------------------------------------------
.circle (@size)
{
    .rounded(50%);
    .square(@size);
}
// Stretch Helper
//---------------------------------------------
.stretch (@top, @right, @bottom, @left)
{
    bottom: @bottom;
    left:   @left;
    right:  @right;
    top:    @top;
}
// Text Overflow Helper
//---------------------------------------------
.text-overflow (@value: ellipsis)
{
    -ms-text-overflow: @value;
    -o-text-overflow:  @value;
    text-overflow:     @value;

    overflow:     hidden;
    white-space:  nowrap;

    .ie & {
        -ms-word-wrap: normal;
        word-wrap: normal;
    }
}
// Word-break Helper
//---------------------------------------------
.word-break (@break: break-all, @breakWebkit: break-word, @hyphens: auto)
{
    -ms-word-break:  @break;
    word-break:      @break;
    word-break:      @breakWebkit;
    -webkit-hyphens: @hyphens;
    -moz-hyphens:    @hyphens;
    -ms-hyphens:     @hyphens;
    hyphens:         @hyphens;

    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after:  3;
    hyphenate-lines:          3;
}
// Clear Helper
//---------------------------------------------
.clear ()
{
    & { *zoom: 1; zoom: 1 }
    &:before, &:after { content: ''; display: table; }
    &:after { clear: both; }
}
// Cover Helper
//---------------------------------------------
.cover ()
{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
// Text Shadow Helper
//---------------------------------------------
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25))
{
    text-shadow: @string;
}
// Box Shadow Helper
//---------------------------------------------
.box-shadow (@string)
{
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}
// Drop Shadow Helper
//---------------------------------------------
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25)
{
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:     @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
// Inner Shadow Helper
//---------------------------------------------
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25)
{
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
// Box Sizing Helper
//---------------------------------------------
.box-sizing (@type: border-box)
{
    -webkit-box-sizing: @type;
    -moz-box-sizing:    @type;
    -ms-box-sizing:     @type;
    box-sizing:         @type;
}
// Rounded Corner Helper
//---------------------------------------------
.rounded (@radius: 5px)
{
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
// Border Radius Helper
//---------------------------------------------
.border-radius (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0)
{
    -webkit-border-top-right-radius:    @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius:  @bottomleft;
    -webkit-border-top-left-radius:     @topleft;

    -moz-border-radius-topright:        @topright;
    -moz-border-radius-bottomright:     @bottomright;
    -moz-border-radius-bottomleft:      @bottomleft;
    -moz-border-radius-topleft:         @topleft;

    border-top-right-radius:            @topright;
    border-bottom-right-radius:         @bottomright;
    border-bottom-left-radius:          @bottomleft;
    border-top-left-radius:             @topleft;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
// Bordered Helper
//---------------------------------------------
.bordered (@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE)
{
    border-top:    solid 1px @top-color;
    border-left:   solid 1px @left-color;
    border-right:  solid 1px @right-color;
    border-bottom: solid 1px @bottom-color;
}
// Opacity Helper
//---------------------------------------------
.opacity (@opacity: 0.5)
{
    -webkit-opacity:    @opacity;
    -khtml-opacity:     @opacity;
    -moz-opacity:       @opacity;
    opacity:            @opacity;
    @opperc: @opacity * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
    filter:     ~"alpha(opacity=@{opperc})";
}
// Grayscale Helper
//---------------------------------------------
.grayscale (@value: 1)
{
    -webkit-filter: grayscale(@value);
    -moz-filter: grayscale(@value);
    -ms-filter: grayscale(@value);
    -o-filter: grayscale(@value);
    filter: grayscale(@value);
}
// Gradient Helper
//---------------------------------------------
.gradient (@startColor: #eee, @endColor: white)
{
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", @endColor, @startColor));
}
// Horizontal Gradient Helper
//---------------------------------------------
.horizontal-gradient (@startColor: #eee, @endColor: white)
{
    background-color: @startColor;
    background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(left, @startColor, @endColor);
    background-image: -moz-linear-gradient(left, @startColor, @endColor);
    background-image: -ms-linear-gradient(left, @startColor, @endColor);
    background-image: -o-linear-gradient(left, @startColor, @endColor);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", @endColor, @startColor));
}
// Key Frames Helper
//---------------------------------------------
.keyframes (@name, @rules)
{
    @-webkit-keyframes @name
    {
        @rules();
    }
    @-moz-keyframes @name
    {
        @rules();
    }
    @-o-keyframes @name
    {
        @rules();
    }
    @keyframes @name
    {
        @rules();
    }
}
// Buttons Setup
//---------------------------------------------
.button (@Color, @Background)
{
    .box-shadow(0px 2px 3px 0px fade(darken(@Background, 85%), 15%));
    color: @Color;
    background: @Background;

    // Icon Inside Button
    //---------------------------------------------
    & > *[class*="icon-"]
    {
        .border-radius(2px, 2px, 0px, 0px);
        background: lighten(@Background, 5%);
    }

    // Hover Effect
    //---------------------------------------------
    &:hover
    {
        background: darken(@Background, 7%);

        // Icon Inside Button
        //---------------------------------------------
        & > *[class*="icon-"]
        {
            background: darken(@Background, 3%);
        }
    }
}
// Font Face Helper
//---------------------------------------------
.font-face (@font, @family, @weight: normal, @style: normal, @path: "@{FontsDirectory}")
{
    @font-face {
        font-family: ~'@{family}';
        src: url(~'@{path}/@{font}.eot');
        src: url(~'@{path}/@{font}.eot?#iefix')    format('embedded-opentype'),
             url(~'@{path}/@{font}.woff?')         format('woff?'),
             url(~'@{path}/@{font}.woff')          format('woff'),
             url(~'@{path}/@{font}.ttf')           format('truetype'),
             url(~'@{path}/@{font}.svg#@{family}') format('svg');
        font-weight: @weight;
        font-style:  @style;
    }
}
// Font-Size Helper
//---------------------------------------------
.font-size (@sizeValue)
{
    @remValue: @sizeValue;
    @pxValue: (@sizeValue * 10);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem";
}
// Animation Helper
//---------------------------------------------
.animation (@name, @duration: 300ms, @delay: 0, @ease: ease)
{
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation:    @name @duration @delay @ease;
    -ms-animation:     @name @duration @delay @ease;
}
// Transaction Helper
//---------------------------------------------
.transition (@duration: 0.3s, @ease: ease-out, @property: all)
{
    -webkit-transition: @property @duration @ease;
    -moz-transition:    @property @duration @ease;
    -ms-transition:     @property @duration @ease;
    -o-transition:      @property @duration @ease;
    transition:         @property @duration @ease;
}
// Transition Duration Helper
//---------------------------------------------
.transition-duration (@duration: 0.2s)
{
    -webkit-transition-duration: @duration;
    -moz-transition-duration:    @duration;
    -o-transition-duration:      @duration;
    transition-duration:         @duration;
}
// Transform Helper
//---------------------------------------------
.transform (@string)
{
    -webkit-transform:   @string;
    -moz-transform:      @string;
    -ms-transform:       @string;
    -o-transform:        @string;
    transform:           @string;
}
// Scale Helper
//---------------------------------------------
.scale (@factor)
{
    -webkit-transform:   scale(@factor);
    -moz-transform:      scale(@factor);
    -ms-transform:       scale(@factor);
    -o-transform:        scale(@factor);
    transform:           scale(@factor);
}
// Rotate Helper
//---------------------------------------------
.rotate (@deg)
{
    -webkit-transform:   rotate(@deg);
    -moz-transform:      rotate(@deg);
    -ms-transform:       rotate(@deg);
    -o-transform:        rotate(@deg);
    transform:           rotate(@deg);
}
// Skew Helper
//---------------------------------------------
.skew (@deg, @deg2)
{
    -webkit-transform:   skew(@deg, @deg2);
    -moz-transform:      skew(@deg, @deg2);
    -ms-transform:       skew(@deg, @deg2);
    -o-transform:        skew(@deg, @deg2);
    transform:           skew(@deg, @deg2);
}
// Translate Helper
//---------------------------------------------
.translate (@x, @y:0)
{
    -webkit-transform:   translate(@x, @y);
    -moz-transform:      translate(@x, @y);
    -ms-transform:       translate(@x, @y);
    -o-transform:        translate(@x, @y);
    transform:           translate(@x, @y);
}
// Translate 3D Helper
//---------------------------------------------
.translate3d (@x, @y: 0, @z: 0)
{
    -webkit-transform:   translate3d(@x, @y, @z);
    -moz-transform:      translate3d(@x, @y, @z);
    -ms-transform:       translate3d(@x, @y, @z);
    -o-transform:        translate3d(@x, @y, @z);
    transform:           translate3d(@x, @y, @z);
}
// Perspective Helper
//---------------------------------------------
.perspective (@value: 1000)
{
    -webkit-perspective:  @value;
    -moz-perspective:     @value;
    -ms-perspective:      @value;
    perspective:          @value;
}
// Transform Origin Helper
//---------------------------------------------
.transform-origin (@x:center, @y:center)
{
    -webkit-transform-origin: @x @y;
    -moz-transform-origin:    @x @y;
    -ms-transform-origin:     @x @y;
    -o-transform-origin:      @x @y;
    transform-origin:         @x @y;
}
// Icon Fonts Helper
//---------------------------------------------
.icon ()
{
    speak: none;
    line-height: 1;
    font-family: 'icon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: -.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// Remove Default Appearance Helper
//---------------------------------------------
.remove-appearance ()
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
// Show Elements
//---------------------------------------------
.show ()
{
    visibility: visible;
}
// Hide Elements
//---------------------------------------------
.hide ()
{
    visibility: hidden;
}
// Setup Container
//---------------------------------------------
.container (@gutter: @GridGutterWidth)
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: (@gutter / 2);
    padding-right: (@gutter / 2);
}
// Setup Columns
//---------------------------------------------
.grid-columns (@prefix; @container-width; @number-cols; @i: 1) when (@i =< @number-cols)
{
    // Setup Column Name
    //---------------------------------------------
    .col-@{prefix}-@{i}
    {
        @single-width: @container-width / @number-cols;
        width: @i * @single-width;
    }
    // Call Next Iterate
    //---------------------------------------------
    .grid-columns (@prefix, @container-width, @number-cols, @i + 1);
}
// Setup Push
//---------------------------------------------
.grid-push (@prefix; @container-width; @number-cols; @i: 1) when (@i =< @number-cols)
{
    // Setup Push
    //---------------------------------------------
    .push-@{prefix}-@{i}
    {
        @single-width: @container-width / @number-cols;
        right: @i * @single-width;
    }
    // Call Next Iterate
    //---------------------------------------------
    .grid-push (@prefix, @container-width, @number-cols, @i + 1);
}
// Setup Pull
//---------------------------------------------
.grid-pull (@prefix; @container-width; @number-cols; @i: 1) when (@i =< @number-cols)
{
    // Setup Pull
    //---------------------------------------------
    .pull-@{prefix}-@{i}
    {
        @single-width: @container-width / @number-cols;
        right: -@i * @single-width;
    }
    // Call Next Iterate
    //---------------------------------------------
    .grid-pull (@prefix, @container-width, @number-cols, @i + 1);
}
// Make Grid
//---------------------------------------------
.make-grid (@prefix: ''; @container-width; @breakpoint-width)
{
    // Init Media Query
    //---------------------------------------------
    @media(min-width: @breakpoint-width)
    {
        // Setup Container
        //---------------------------------------------
        .container
        {
            // Setup Container
            //---------------------------------------------
            .container();
            width: 100%;
            max-width: @container-width;
        }
        // Setup Row
        //---------------------------------------------
        .row
        {
            width: 100%;

            // Generate Columns
            //---------------------------------------------
            .grid-columns (@prefix, 100%, @GridColumns);
            .grid-push    (@prefix, 100%, @GridColumns);
            .grid-pull    (@prefix, 100%, @GridColumns);
        }
    }
}