<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- Begin Navigation -->
                <nav>
                    <a href="">صفحه‌اصلی</a>
                </nav>
                <!-- End Navigation -->

                <!-- Begin Link -->
                <!-- a class="link" href=""><i class="icon-logout"></i> خروج</a-->
                <a class="link" href=""><i class="icon-user13"></i>

                    خوش آمدید

                </a>
                <!-- End Link -->

            </div>
        </div>
    </div>
</header>
