<aside class="sidebar">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <!-- Begin Caption -->
            <header>
                <h1>داشبورد مدیریت</h1>
            </header>
            <!-- End Caption -->

            <!-- Begin Menu -->
            <ul class="menu">
                <li ng-repeat="item in items">
                    <a ng-href="{{item.link}}"><i class="icon-list"></i>{{item.title}}</a>
                    <i class="icon-arrow-left62"></i>
                    <ul class="extra">
                        <li ng-repeat="child in item.children">
                            <a ng-href="{{child.link}}"><i class="icon-list"></i>{{child.title}}</a>
                            <i class="icon-arrow-left62"></i>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End Menu -->

        </div>
    </div>


</aside>
