<av-content-header title="ویدیو"></av-content-header>

<div class="row">
    <div class="col-md-8">

        <div class="btn save"
             ng-if="isNew"
             ngf-select="upload($file)">
            <i class="icon-plus10"></i>
            آپلود ویدیو
        </div>

        <videogular ng-if="!isNew">
            <vg-media vg-src="sources">
            </vg-media>
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
            </vg-controls>
        </videogular>

        <div ng-if="!isNew">
            <p class="text-muted">
                Path: {{file.path}} |
                Date: {{file.creationTime|date}} |
                Size: {{file.size|number}}
            </p>
        </div>

        <form class="form" accept-charset="utf-8">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="inputName">
                        <span>اسم ویدیو</span>
                        <input ng-model="file.name" type="text" id="inputName" placeholder="تست">
                    </label>
                </div>
            </div>
            <div class="actions">
                <a class="btn save" ng-click="save()"><i class="icon-mode_edit"></i>ذخیره</a>
                <a class="btn update"  ng-click="setDefault()"><i class="icon-plus10"></i>ند اصلی‌ش بکن</a>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <span class="text-success" ng-if="showMessage"> Saved</span>
                </div>
            </div>
        </form>

    </div>
</div>
