/*---------------------------------------------
    Responsive Grid System
---------------------------------------------*/

// Section
//---------------------------------------------
section.section
{
    position: relative;
}

// Text Direction Helper
//---------------------------------------------
.text-left
{
    text-align: left !important;
}

.text-right
{
    text-align: right !important;
}

// Element Direction Helper
//---------------------------------------------
.left
{
    .float(left) !important;
}

// Element Direction Helper
//---------------------------------------------
.right
{
    .float(right) !important;
}
// Row
//---------------------------------------------
.row
{
    .clear();
    zoom: 1;
    *zoom: 1;

    // Padding
    //---------------------------------------------
    &.padding
    {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

// Position Grid Helper
//---------------------------------------------
[class*="col-"],
[class*="pull-"],
[class*="push-"]
{
    position: relative;
}

// Related Col
//---------------------------------------------
[class*="col-"] + [class*="col-"]
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right:(@GridGutterWidth / 2);
}

// No Padding
//---------------------------------------------
.no-padding
{
  padding: 0 !important;
}

// No Margin
//---------------------------------------------
.no-margin
{
  margin: 0 !important;
}


// Define Col Related Element
//---------------------------------------------
[class*='col-']
{
    float: right;
    width: 100%;
}

// Make Grid
//---------------------------------------------
.make-grid(xs, @ContainerMobile, @BreakpointMobile);
.make-grid(sm, @ContainerTablet, @BreakpointTablet);
.make-grid(md, @ContainerDesktop, @BreakpointDesktop);
.make-grid(lg, @ContainerDesktopHD, @BreakpointDesktopHD);


// Define Specific Breakpoint
//---------------------------------------------
@media (min-width: @BreakpointMobile) and (max-width: @BreakpointTablet)
{
    // Define No Gutter
    //---------------------------------------------
    .no-gutter-xs
    {
        padding-right: 0px !important;
    }
    // Hide On
    //---------------------------------------------
    .hide-xs
    {
        display: none !important;
    }

    // Show On
    //---------------------------------------------
    .show-xs
    {
        display: block !important;
    }
    // Right Float On
    //---------------------------------------------
    .right-xs
    {
        .float(right) !important;
    }
    // Left Float On
    //---------------------------------------------
    .left-xs
    {
        .float(left) !important;
    }
}

// Define Specific Breakpoint
//---------------------------------------------
@media (min-width: @BreakpointTablet) and (max-width: @BreakpointDesktop)
{
    // Define No Gutter
    //---------------------------------------------
    .no-gutter-sm
    {
        padding-right: 0px !important;
    }
    // Hide On
    //---------------------------------------------
    .hide-sm
    {
        display: none !important;
    }

    // Show On
    //---------------------------------------------
    .show-sm
    {
        display: block !important;
    }
    // Right Float On
    //---------------------------------------------
    .right-sm
    {
        .float(right) !important;
    }
    // Left Float On
    //---------------------------------------------
    .left-sm
    {
        .float(left) !important;
    }
}

// Define Specific Breakpoint
//---------------------------------------------
@media (min-width: @BreakpointDesktop) and (max-width: @BreakpointDesktopHD)
{
    // Define No Gutter
    //---------------------------------------------
    .no-gutter-md
    {
        padding-right: 0px !important;
    }
    // Hide On
    //---------------------------------------------
    .hide-md
    {
        display: none !important;
    }

    // Show On
    //---------------------------------------------
    .show-md
    {
        display: block !important;
    }
    // Right Float On
    //---------------------------------------------
    .right-md
    {
        .float(right) !important;
    }
    // Left Float On
    //---------------------------------------------
    .left-md
    {
        .float(left) !important;
    }
}

// Define Specific Breakpoint
//---------------------------------------------
@media (min-width: @BreakpointDesktopHD)
{
    // Define No Gutter
    //---------------------------------------------
    .no-gutter-lg
    {
        padding-right: 0px !important;
    }
    // Hide On
    //---------------------------------------------
    .hide-lg
    {
        display: none !important;
    }

    // Show On
    //---------------------------------------------
    .show-lg
    {
        display: block !important;
    }
    // Right Float On
    //---------------------------------------------
    .right-lg
    {
        .float(right) !important;
    }
    // Left Float On
    //---------------------------------------------
    .left-lg
    {
        .float(left) !important;
    }
}