/*---------------------------------------------
    Footer
---------------------------------------------*/
footer
{
    .float(right);
    .size(46px, 100%);
    z-index: 99999999;
    position: relative;
    color: @FooterColor;
    background: @FooterBackground;
    border-top: 1px solid darken(@FooterBackground, 5%);

    // Copyright
    //---------------------------------------------
    span.copyright
    {
        .float(right);
        .font-size(1.2);
        margin: 0px 0px;
        padding: 0px 15px;
        line-height: 45px;
        color: @FooterColor;
        letter-spacing: -0.25px;
        font-family: 'Yekan', 'Number';
    }
}