/*---------------------------------------------
    Header
---------------------------------------------*/
header
{
    .size(55px, 100%);
    z-index: 99999999;
    position: relative;
    color: @HeaderColor;
    background: @HeaderBackground;
    border-bottom: 1px solid darken(@HeaderBackground, 5%);

    // Navigation
    //---------------------------------------------
    nav
    {
        .float(right);

        // Link
        //---------------------------------------------
        & > a
        {
            .float(right);
            .font-size(1.2);
            line-height: 55px;
            padding-left: 20px;
            letter-spacing: -0.25px;
            font-family: 'Yekan', 'Number';

            // On Hover
            //---------------------------------------------
            &:hover
            {
                color: @HeaderColor;
            }
        }
    }

    // Link
    //---------------------------------------------
    a.link
    {
        .float(left);
        .font-size(1.2);
        line-height: 55px;
        padding-right: 20px;
        letter-spacing: -0.25px;
        font-family: 'Yekan', 'Number';

        // On Hover
        //---------------------------------------------
        &:hover
        {
            color: @HeaderColor;
        }

        // Icon
        //---------------------------------------------
        & > i[class*="icon-"]:before
        {
            .opacity(.75);
            margin-left: 3px;
        }
    }
}