<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p>ویودیها</p>

        <form class="form">
            <table class="table">
                <thead>
                    <tr>
                        <th>شناسه</th>
                        <th>اسم</th>
                        <th>تاریخ</th>
                        <th>حجم</th>
                        <th>وضعیت</th>
                        <th>امکانات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in files">
                        <td>{{file.id}}</a></td>
                        <td>{{file.name}}</a></td>
                        <td>{{file.creationTime|date}}</td>
                        <td>{{file.size|number}} Mb</td>
                        <td>
                            <span class="badge green" ng-if="file.isActive">فعال</span>
                        </td>
                        <td>
                            <div class="group">
                                <a class="btn action" ng-href="#/files/{{file.id}}" ><i class="icon-eye11"></i></a>
                                <a class="btn action" ng-click="toggleActivation(file)">
                                    <i ng-class="{false: 'icon-done', true: 'icon-cross5'}[file.isActive]"></i>
                                </a>
                                <a class="btn action"><i class="icon-trash6"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="actions">
                <a class="btn save" href="#/files/add"><i class="icon-plus10"></i>افزودن</a>
            </div>
        </form>
    </div>
</div>
