<span ng-click="changeState()">
    <span ng-transclude></span>
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ng-show="column.state=='up'">
    </span>
    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" ng-show="column.state=='down'">
    </span>
    <span class="glyphicon glyphicon-sort  text-muted" aria-hidden="true" ng-show="!column.state"">
    </span>

</span>
